[2016-08-09 14:31] lukecampbell opened #2 "Investigate getting cert for HTTPS"
Look into what the cost and resources required are for acquiring a SSL Certificate to run HTTPS.

[2016-08-09 14:34] lukecampbell opened #3 "Wrap ioos/service-monitor in docker"
We need to wrap ioos/service-monitor in a docker container so we can launch an instance of it on our virtual private cloud.

[2016-08-09 14:35] lukecampbell opened #4 "Deploy dev service-monitor"
Deploy a docker instance of the service-monitor

[2016-08-12 13:02] lukecampbell opened #5 "CKAN links on records page of registry sometimes result in search errors in CKAN if they contain illegal characters"
For example, the link for "Regional Ocean Modeling System (ROMS): Oregon Coast" contains a colon and results in an error page. If you remove the colon, it works.

![screen shot 2016-08-12 at 9 01 58 am](https://cloud.githubusercontent.com/assets/1155163/17622960/8f672bc0-606b-11e6-8625-1ad65860a68d.png)

[2016-08-12 13:11] rsignell-usgs opened #6 "Promote opendap service to top level"
When I find datasets that have OPeNDAP endpoints, those endpoints don't appear at the top level along with other services such as WCS.  Can the OPeNDAP endpoints be promoted to the entry level?

For example the first dataset here doesn't appear to have an OPeNDAP service:
![2016-08-12_9-04-41](https://cloud.githubusercontent.com/assets/1872600/17623157/a2992940-606c-11e6-96ac-c19fb9c13b75.jpg)
But

[2016-08-12 14:00] mwengren commented on #6
I've looked into doing this for the NOAA Catalog.  It should be a combination of making different XPath search strings for resource type instances here: https://github.com/ckan/ckanext-spatial/blob/master/ckanext/spatial/model/harvested_metadata.py#L819-L833, as well as ordering the resulting matches here before they're persisted: https://github.com/ckan/ckanext-spatial/blob/master/ckanext/spatial

[2016-08-12 14:08] rsignell-usgs commented on #6
@mwengren , they've done it on data.gov, so we could ask them how they did it.   @kalxas, do you know who to contact?

[2016-08-15 16:18] lukecampbell commented on #6
Yeah, I think I know how to do it. I did this already with some of the style changes that I had to undo, those should be coming back in the near future. I LOVE how @mwengren found the exact spots that I'd need to change though, that makes this infinitely easier.

[2016-08-16 19:54] #3 closed

[2016-08-17 20:44] #2 closed

[2016-08-17 20:44] #5 closed

[2016-08-18 14:52] benjwadams commented on #6
Should I call such a service found "DAP" or "OPeNDAP"?

[2016-08-18 17:07] rsignell-usgs commented on #6
"OPeNDAP"!

[2016-08-18 18:16] lukecampbell commented on #6
Yeah it's OPeNDAP.

[2016-08-18 19:09] mwengren commented on #6
+1

On Thu, Aug 18, 2016 at 2:16 PM, Luke Campbell <notifications@github.com>
wrote:

[2016-08-19 13:19] benjwadams opened #7 "Tests for harvesting"
It'd be desirable to have some kind of mock WAF with ISO 19115 XML files we can reliably get results for in unit tests to ensure the proper metadata was harvested.  In the past, I've seen tests point at external URLs, which can fail if the service is unavailable, the ISO changes, files are deleted, etc.

[2016-08-26 20:00] #4 closed

[2016-09-01 13:48] #6 closed

[2016-09-22 11:42] dpsnowden opened #8 "Harvest OceanSITES metadata as a test case for new harvest registry. See oceansites/dmt#16"
See oceansites/dmt#16

[2016-09-29 14:27] mwengren opened #10 "Add Unidata Motherlode forecast datasets"
Unidata Motherlode was in the previous IOOS Catalog.

Need to investigate metadata sources.

@rsignell-usgs

[2016-09-29 17:52] mwengren commented on #10
@rsignell-usgs WAF is empty at the moment.

http://thredds.axiomdatascience.com/iso/unidata/

I believe this was the source for the Unidata forecasts.  Seems that Axiom would have to be consulted on the content.

[2016-09-30 16:22] rsignell-usgs commented on #10
Yes, that's where they used to be.   Also there was this helpful WAF of NGDC met datasets also, now also empty:
http://thredds.axiomdatascience.com/iso/ndbc_stdmet/

@kwilcox, can we get these harvesters working again?  (or have the WAF folders just moved?)

[2016-09-30 16:23] rsignell-usgs commented on #10
I was going to show Unidata that we were harvesting motherlode, but then was not able to do so.  :disappointed:

[2016-10-03 15:27] kwilcox commented on #10
**Re: ndbc_stdmet**
ISO links stopped working: http://dods.ndbc.noaa.gov/thredds/catalog/data/stdmet/tshf1/catalog.html?dataset=data/stdmet/tshf1/tshf1h2010.nc

**Re: unidata**
A few datasets started throwing errors. I'll push a fix to thredds_crawler that will bypass these.

[code]

[2016-10-21 20:58] mwengren commented on #10
Resolved via #87

[2016-10-21 20:58] #10 closed

[2016-10-21 21:25] kwilcox commented on #10
What is #87?

[2016-10-24 13:00] mwengren commented on #10
Sorry, wrote that from [here](https://waffle.io/ioos/catalog), forgot the different repo issue # issue, should have been ioos/catalog-ckan#87.

[2016-10-24 13:09] kwilcox commented on #10
Thanks. Can I remove the WAF at http://thredds.axiomdatascience.com/iso/unidata/?

[2016-10-24 13:16] mwengren commented on #10
Well, that depends.  If that's the same as http://thredds.axiomalaska.com/iso/unidata/, then no, because we're depending on that for the metadata source.  Otherwise, no problem.  At this point we're relying on you guys to harvest that server for metadata... https://registry.ioos.us/harvests/xXy1M2joVL8QQRoZq.

[2016-10-24 13:20] kwilcox commented on #10
It is the same thing. I mistakenly didn't click https://dev-catalog.ioos.us/harvest/unidata-waf and assumed it was a WAF that the catalog started crawling and generating. We'll keep the Unidata WAF up indefinitely.

[2016-10-24 13:32] mwengren commented on #10
Yeah, that's just a mirror of yours.  We could move it to data.ioos.us if necessary I imagine, I don't think it would be a problem, but stealing your script would help with that.  If you guys would rather not keep that dependency on your side, let's do that.

Actually, if you don't mind sharing, I'm trying to collect example THREDDS/ncISO WAF scripts [here](https://github.com/ioos/catalog/tree/mas

[2016-10-27 23:49] emiliom opened #16 "Availability of a test/staging catalog (& registry)?"
My understanding is that the catalog system that's in development, https://dev-catalog.ioos.us, will become the live one (at different url) around next month.

@mwengren, will there be a system/version that remains as a parallel, testing version? That's a common approach that would be very helpful to enable metadata debugging and improvements based on the IOOS Catalog as the target, w/o having to

[2016-10-31 16:00] dpsnowden opened #17 "Create service to view IOOS platform locations"
We are routinely asked for a URL that provides the locations of IOOS platforms.  The definition of IOOS platforms is fluid, to say the least, but we do need some sort of inventory.

This issue is just to open the conversation on the actual requirements and to get it published somewhere so that we can put it in a release plan eventually.  The catalog repo may not even be the right place.  My initia

[2016-10-31 16:08] lukecampbell commented on #17
Are we publishing just the points? If so, then something like GeoJSON might be simpler to create and simpler for clients to integrate.

Otherwise if it's feature information WFS maybe?

[2016-10-31 16:33] dpsnowden commented on #17
I think it's more than just the points, but that's what I'd like to discuss  and refine.  We've had long history with trying to automate an asset inventory.  I don't want to make a hasty decision without having folks look into it.  This is probably something we'll have to do in several iterations.  First and simplest iteration is probably

```Lat; Lon; Name; ID; Data Provider; Region; Platform Typ

[2016-11-01 19:39] mwengren commented on #16
@lukecampbell @kknee let's discuss estimated costs for running staging/qa Registry/Data Catalog/Service Monitor on an ongoing basis in a future meeting.  I agree it would be a good idea.   We may want to restrict access though, at least to the Data Catalog component to avoid confusion on what is production or not.

[2016-11-18 16:07] mwengren opened #18 "Set up proof-of-concept SOS WAFs for CO-OPS, NDBC"
After discussing with Derrick, we should set up some demo/POC WAFs with metadata for the CO-OPS and NDBC SOS services on data.ioos.us to harvest in the Registry.  To meet the Dec 14 release date and also to show them an approach to meeting the WAF requirement.

Scripting the [sensorml2iso](https://github.com/ioos/sensorml2iso) module should accomplish this.  I've tested it on CO-OPS SOS successful

[2016-11-30 14:09] mwengren opened #19 "Add Registry/Catalog/Monitor Arch Diagrams"
Add relevant architecture diagrams to the GitHub Pages docs for Catalog.

Pages:
- https://ioos.github.io/catalog/pages/architecture/ : Overview
- https://ioos.github.io/catalog/pages/architecture/registry/: Harvest Registry
- https://ioos.github.io/catalog/pages/architecture/data_catalog/: Data Catalog
- https://ioos.github.io/catalog/pages/architecture/monitor/: Service Monitor

[2016-11-30 14:10] mwengren commented on #19
![future_ioos_service_registry_catalog](https://cloud.githubusercontent.com/assets/1469921/20755391/cf6bc3e4-b6dc-11e6-87aa-7b876339cff2.png)

[2016-12-15 16:59] #18 closed

[2016-12-29 19:02] benjwadams commented on #19
@mwengren , is that diagram editable?  Looks pretty good, but I have a couple of things to mention here:

The central WAF should probably be data.ioos.us/waf now.  Also perhaps use a different icon because it's a WAF, not technically a database.

Probably should have the CKAN harvester processes in between the central WAF and the CKAN instance.

Fairly optional, but the current architecture has bo

[2016-12-29 21:43] mwengren commented on #19
@benjwadams The source for the diagram was @lukecampbell... hopefully he can get you an editable copy.

As far as the central WAF location, we are still using registry.ioos.us I believe.  This is where the Harvest Registry writes out metadata for CKAN to harvest from: https://registry.ioos.us/waf/.

Open to suggestions on other changes.  It's a lot to show in one diagram, so it would be best to no

[2017-01-04 14:07] lukecampbell commented on #19
Correct, the central WAF is registry.ioos.us/waf/

I realize there's some confusion there because we used to have the central WAF in a different place on data.ioos.us. Since the central WAF is created by the registry and is part of the registry, it made sense to put the central WAF on registry.ioos.us.

[2017-01-04 14:09] lukecampbell commented on #19
![ioos service registry and catalog](https://cloud.githubusercontent.com/assets/1155163/21644837/814ffc92-d25d-11e6-9bb5-19e9e5bda2fe.png)

[2017-01-09 22:43] emiliom opened #20 "Suggestion: Temporary caching if source WAF is down?"
We had a power outage yesterday that hit all our servers; the impact lasted <20 hours. But our WAF server must have been down when the registry/catalog did its daily reharvest (early in the morning?). That resulted in 0 metadata records for NANOOS being shown today on the IOOS Catalog. Our servers are back up, and I'm assuming everything will be peachy on the next harvest tomorrow.

So that made m

[2017-01-10 12:22] rsignell-usgs commented on #20
I agree, and I think 3 days might be a good time period to cache the data if the WAF is unavailable.  That would allow enough time for it to go down Friday at COB and be fixed by Monday at COB.

[2017-01-11 14:37] lukecampbell commented on #20
We've also heard the opposite request from providers that they want the data to be immediately removed when a source is either removed. Right now we keep the WAF data for 2 days, I believe, before it gets removed from the registry's WAF. I currently have a task to tighten the consistency between provider's WAFs and our publication. Maybe we need to curb that task and discuss further.

[2017-01-11 15:50] emiliom commented on #20
@lukecampbell, I wouldn't characterize the request from providers you mention as "the opposite". I can definitely see the desirability of having the registry/catalog react quickly to *deliberate* choices made by the providers, such as removal of individual metadata records.

Maybe the distinction is between individual metadata records becoming unavailable (likely a deliberate choice) and an entire

[2017-01-11 22:18] lukecampbell commented on #20
Yeah, we had some scheduled work to reduce the time from 2 days to something smaller, that may have already happened. When I get back I'll look into this and probably reach out to you to work out some of the subtle use-cases.

[2017-01-18 15:46] lukecampbell opened #22 "Service Monitor Sync Bug"
For example, GCOOS has a large inconsistency between the SOS services published in CKAN and the services shown in CKAN.

https://monitor.ioos.us/services/filter/GCOOS/SOS
https://data.ioos.us/organization/81073df6-f052-491a-b68e-ea76f6591389?res_format=SOS

[2017-01-19 20:53] #19 closed

[2017-01-24 20:16] rsignell-usgs opened #23 "Gathering ISO metadata from Hyrax servers"
Two ways to gather ISO metadata from Hyrax:

**Method 1:**

Every directory on Hyrax has a thredds catalog view.

For every directory view, for example:
http://opendap.jpl.nasa.gov/opendap/OceanTemperature/aquarius/L4/IPRC/v4/7day/2015/001/contents.html

there is a THREDDS catalog.   Just replace "contents.html" with "catalog.xml", like this:

http://opendap.jpl.nasa.gov/opendap/OceanTemperature/a

[2017-01-24 21:02] lukecampbell commented on #22
@mwengren I have an update on this. It looks like it's working fine. The problem is that all the registered SOS services all are the same service...

Uniqueness for an "SOS" Service in the service-monitor is data-provider and URL. Otherwise we'd ping and monitor the same URL for every duplicate record created by the providers.

Will provide more details shortly...

[2017-01-24 21:04] lukecampbell commented on #22
![screen shot 2017-01-24 at 4 02 47 pm](https://cloud.githubusercontent.com/assets/1155163/22266622/b55634e2-e24e-11e6-9b07-ad42ed320289.png)

![screen shot 2017-01-24 at 4 03 44 pm](https://cloud.githubusercontent.com/assets/1155163/22266626/b8f7252a-e24e-11e6-845d-9384447a95ec.png)

[2017-01-24 21:11] lukecampbell commented on #22
I can probably refactor the service monitor with a new definition of uniqueness, but we should probably discuss.

[2017-01-24 21:28] mwengren commented on #22
Ok, let's put a meeting on the calendar to discuss Service Monitor in more detail in the next week or two.   I may need some time to review and assess what the needs are first.

[2017-01-25 11:20] rsignell-usgs opened #24 "CSW endpoint seems down. Why?"
@mwengren or @lukecampbell , this morning neither @ocefpaf or I can reach the IOOS CSW endpoint using https://data.ioos.us/csw

Can we please not only restore it but figure out why it went down?

I 'm supposed to demo the IOOS CSW query at 10AM ET.

![2017-01-25_6-17-10](https://cloud.githubusercontent.com/assets/1872600/22288686/fece4156-e2c5-11e6-8c8c-054e677fd305.png)

[2017-01-25 12:39] mwengren commented on #24
We're having some database issues that are affecting uptime currently.  @lukecampbell has been working on it since yesterday.  I'll let him update as of this morning but hopefully we can get it back online by 10.

[2017-01-25 14:33] mwengren commented on #24
@rsignell-usgs CKAN/pycsw are restored, but there may be a need to do further troubleshooting later today until we can resolve the underlying issue.  We'll hold off until your demo is complete though.

[2017-01-25 14:55] lukecampbell commented on #24
I'm gonna use this ticket to track all discoveries and issues related to the db bloat.

The short story is that the DB is horribly bloated and CKAN leverages an [Object Relational Mapper (ORM)](http://www.sqlalchemy.org/) which doesn't efficiently take advantage of optimized queries. So each time we harvest and create a revision record of the original metadata documents, the database queries get a

[2017-01-25 15:00] lukecampbell commented on #24
![screen shot 2017-01-25 at 10 00 20 am](https://cloud.githubusercontent.com/assets/1155163/22295483/1d1cfd54-e2e5-11e6-9a5e-fceb6665ae72.png)

[2017-01-25 15:03] mwengren commented on #24
@lukecampbell I don't think we have any need for retaining the old revisions of the various objects.  Is doing a clear and reharvest of each harvest source more efficient than the purge approach you were trying initially?  Or is it the same operation on the db?

I think ideally we have to configure CKAN to not write to the _revision tables and just keep the latest and greatest on each harvest, but

[2017-01-25 15:04] lukecampbell commented on #24
the clear harvest doesn't delete, only purge *actually* deletes records. As best I can tell.

[2017-01-25 15:18] lukecampbell commented on #24
On IRC, I got some suggestions. We're not the first to deal with this.

https://github.com/ckan/ckan/wiki/Performance-tips-for-large-imports#tags-and-extras

[2017-01-25 23:04] ebridger commented on #24
@mwengren, @lukecampbell, @lance-axiom. Deciding to move our discussion of registering the new Realtime only [NERACOOS WAF](http://www.neracoos.org/WAF/UMaine/Realtime/iso/) here. The new WAF is registered and made it to the catalog and I'm seeing it in the CKAN API json results.  I'll run new Sensor Map tests tomorrow.

[2017-01-25 23:52] lance-axiom commented on #24
@ebridger I have not removed the non-realtime SOS endpoints from the sensor Map yet. What URL should I used to remove those endpoints?

[2017-01-26 00:37] ebridger commented on #24
@lance-axiom O.K. I set this up based on your original suggestion. Here's my python regex for the url's to exclude, after a check for www.neracoos.org

`if re.search(r"UMO\/DSG\/", this_url, flags=re.IGNORECASE):
      continue
`
Here's a url to include:

`http://www.neracoos.org/thredds/sos/UMO/Realtime/SOS/B01/Met/Realtime.ncml?service=SOS&version=1.0.0&request=GetCapabilities`

Let me know when

[2017-01-26 11:33] rsignell-usgs commented on #24
@lukecampbell , good sleuthing!   Did the geodata.gov guys confirm that their approach worked?  Fingers crossed...

[2017-01-26 14:25] mwengren commented on #24
@ebridger I only looked at a couple but it looks like ncSOS is not happy about something with your new endpoints: http://www.neracoos.org/thredds/sos/UMO/DSG/SOS/N01/SUNA100m/HistoricRealtime/Agg.ncml?service=SOS&version=1.0.0&request=GetCapabilities.

I don't think this will work from the Sensor Map side to use these new endpoints.  Can you investigate?

Hmm, actually now those same endpoints loo

[2017-01-26 16:51] ebridger commented on #24
@mwengren. Couple of points. 1) The url above is from the "old" UMaine WAF, i.e. HistoricRealtime/Agg.  These are the large aggregated datasets which Lance is planning to filter out of the catalog for the Sensor Map harvest.  2) Not sure if it's a general THREDDS or ncSOS  issue but often these SOS GetCap requests fail the first time they are requested, after a THREDDS restart, then start working.

[2017-01-26 18:23] lance-axiom commented on #24
@ebridger the sensor map is ready to test the NERACOOS SOS endpoints. The only endpoints that are going to be used are the ones that start with "http://www.neracoos.org/thredds/sos/UMO/Realtime/SOS". The other ones have been filtered out. Tell me when you have unblocked our IP address and I can kick the process off.

[2017-01-27 16:52] mwengren opened #25 "Update sensorml2iso to v1.0.1"
Update sensorml2iso release tag to v1.0.1 in code used to generate the NDBC and CO-OPS SOS WAFs.

https://github.com/ioos/sensorml2iso/releases/tag/v1.0.1

[2017-02-02 18:27] lukecampbell commented on #24
@rsignell-usgs can you confirm that this is functional again?

[2017-02-02 21:54] rsignell-usgs commented on #24
I ran this notebook
https://gist.github.com/anonymous/6a087c3511b145a490e7bea8bc461876
and the site is working, but service URLs seem to be missing for some datasets that should have them.

See cell [12] for example.

[2017-02-03 14:13] lukecampbell commented on #24
Thanks for the notebook for reproducibility! I'll take a look today hopefully.

[2017-02-06 14:43] lukecampbell commented on #24
I'm gonna close this and open a new issue for the service stuff missing.

[2017-02-06 14:43] #24 closed

[2017-02-06 14:44] lukecampbell opened #26 "CSW Records missing services"
@rsignell-usgs

[2017-02-09 17:17] lukecampbell commented on #26
@rsignell-usgs for the dataset in the Notebook with the title "CBOFS2 (2014-2015)" https://registry.ioos.us/waf/COMT/cb_hypoxia1415.noaacsdl_roms.ncml.xml

[2017-02-09 17:18] lukecampbell commented on #26
This ISO record doesn't have any links or "resources" associated with it, including the DAP URL. I'm going to look into the rest too.

[2017-02-09 18:48] lukecampbell commented on #26
The dataset titled "ROMS_RCA" which lies https://registry.ioos.us/waf/COMT/cb_hypoxia.roms_rca.ncml.xml also doesn't have resources. So I'm starting to think this is on the provider's side, I'll keep looking though.

[2017-02-09 18:49] lukecampbell commented on #26
Here's the original http://comt.sura.org/WAF/cb_hypoxia.roms_rca.ncml.xml

[2017-02-09 18:49] lukecampbell commented on #26
@mwengren could you reach out the COMT folks and see if we can get the OPeNDAP links thrown in these records?

[2017-02-13 18:44] lukecampbell commented on #26
@brianmckenna Heads up

[2017-02-13 19:43] rsignell-usgs commented on #26
Hmm, interesting.  Other records do include OPeNDAP endpoints:
http://comt.sura.org/WAF/inundation_extratropical.VIMS_SELFE.2005_2D_final_run_without_waves.xml

[2017-02-20 16:07] brianmckenna commented on #26
@rsignell-usgs updated WAF with fully qualified dataset IDs. Re-harvested, looks like services are showing on IOOS registry.

[2017-02-22 16:23] mwengren commented on #26
@rsignell-usgs Can you confirm this is fixed?

[2017-02-22 18:09] rsignell-usgs commented on #26
Before:
![2017-02-22_13-06-18](https://cloud.githubusercontent.com/assets/1872600/23225496/1879de26-f900-11e6-88dd-06ed8241970f.png)

After:
![2017-02-22_13-08-38](https://cloud.githubusercontent.com/assets/1872600/23225501/1dc16796-f900-11e6-969f-473b530ffeca.png)

:champagne:

[2017-02-22 18:10] rsignell-usgs commented on #26
Nice work Gang!

[2017-02-22 18:10] #26 closed

[2017-03-01 16:32] lukecampbell commented on #20
@emiliom this should be taken care of now.

[2017-03-01 16:32] #20 closed

[2017-03-01 20:53] emiliom commented on #20
@lukecampbell, can you describe what's the "solution" or new configuration? I don't think that's obvious from the previous discussions back in early January. Unless the new set up is what's described in https://github.com/ioos/catalog-harvesting/issues/40 and https://github.com/ioos/catalog-harvesting/issues/45 from Jan 23? Thanks.

[2017-03-06 17:20] mwengren commented on #25
@lukecampbell Now that sensorml2iso has a new release, can you update the process that generates the NDBC and CO-OPS WAFs?

[2017-03-06 18:23] rsignell-usgs opened #27 "CKAN has 35 results, CSW has 26 for the same query"
I get 35 results with CKAN:
https://data.ioos.us/dataset?q=ROMS&res_format=WMS

I get 26 results with  CSW:
http://nbviewer.jupyter.org/gist/rsignell-usgs/48014c3c0617c47e0457dbc6898856cb?flush_cache=True
(see `numberOfRecordsMatched` in cell [3] output)

Why?

[2017-03-06 19:10] lukecampbell commented on #27
This is related to https://github.com/ioos/catalog-ckan/issues/143
Over time the search database, solr, becomes out of sync with the actual relational database (PostGIS) and needs to be synchronized manually, which is on my to-do list in the near term. I hope to get to it today.

[2017-03-06 19:10] lukecampbell commented on #27
When you search in CKAN it's querying solr. When you query in CSW, it looks at the database.

[2017-03-06 19:12] lukecampbell commented on #25
It should be updated. https://data.ioos.us/stations/waf/

[2017-03-06 19:12] lukecampbell commented on #25
It's actually on version 1.0.2

[2017-03-10 13:09] rsignell-usgs opened #28 "Axiom WMS no longer at this location?"
While preparing a demo for the DMAC meeting on TerriaJS using CSW to find ROMS model results:
![2017-03-10_8-05-48](https://cloud.githubusercontent.com/assets/1872600/23796414/cd40254e-0568-11e7-9134-ab18ed425c62.png)

I discovered that the WMS endpoint in the metadata:
http://pdx.axiomalaska.com/ncWMS/wms?service=WMS&version=1.3.0&request=GetCapabilities
gives a 502 Bad Gateway.

@kwilcox, can yo

[2017-03-10 15:18] kwilcox commented on #28
Yup, fixing!

[2017-03-10 16:59] rsignell-usgs opened #29 "CO-OPS not found in example CSW notebook"
We have this CSW search example notebook in the IOOS Demos Gallery:
https://github.com/ioos/notebooks_demos/blob/master/notebooks/2016-12-19-exploring_csw.ipynb

I just tried running it, and it fails in cell [8] because it can't find any records with "CO-OPS".

I thought it might be a stop time issue, since the notebook only looks for the last 7 days, but the records it should be finding seem okay

[2017-03-10 17:11] kwilcox commented on #28
Its fixed in our THREDDS catalogs and the ISOs are being re-generated right now. I think the IOOS registry harvests every 24 hours and it last happened 17 hours ago... so this should be good by tomorrow morning.

[2017-03-10 17:23] lukecampbell commented on #29
@benjwadams is troubleshooting the CO-OPS duplication issue right now so there's a chance that it's being rebuilt right now.

[2017-03-10 17:24] lukecampbell commented on #28
you can login to the registry and click reharvest to have the changes apply sooner, it only takes 30m (assuming light load) to sync it with CKAN.

[2017-03-10 17:31] kwilcox opened #30 "Allow for non-interactive re-harvest"
It would be very useful if I could kick off a re-harvest of a Data Source without having to manually login to https://registry.ioos.us. My use case would be to kick off a re-harvest every time we regenerate our WAF based ISO records.

Even better would be a way for me to tell whatever system the registry is feeding that a single record was updated in the WAF. This would avoid the registry having t

[2017-03-10 17:35] lukecampbell commented on #30
I like the idea. Just a comment, authentication will still be required even if we exposed an API.

[2017-03-10 17:39] kwilcox commented on #30
An API key on the user account to be included with the request would be :ok_hand:.

[2017-03-10 17:42] rsignell-usgs commented on #28
@lukecampbell , can I login to the registry and click reharvest?

Where are the registry instructions?
I'm guessing these are not them:
http://ioos.github.io/registry/ioos_registration_ngdc/

[2017-03-10 18:05] lukecampbell commented on #28
https://ioos.github.io/catalog/pages/registry/

[2017-03-10 18:07] lukecampbell commented on #30
Yeah I think we can make that happen.

[2017-03-10 18:24] rsignell-usgs commented on #28
@lukecampbell I tried to create a new account and it said I already had one.
I then tried to send password and got internal error:
![2017-03-10_13-12-41](https://cloud.githubusercontent.com/assets/1872600/23807733/c33ad0ea-0594-11e7-845c-b54097fd1604.png)

[2017-03-10 18:42] lukecampbell commented on #28
That's certainly a bug. The logs say the reason is because the email address is unverified but it should say that on the UI.

[2017-03-10 18:45] lukecampbell commented on #28
@rsignell-usgs if you go to the "Register page" and click the link on the right, it should send another verification.

![screen_shot_2017-03-10_at_1_44_31_pm](https://cloud.githubusercontent.com/assets/1155163/23808434/dac1c432-0597-11e7-8031-7d85ca2e1cba.png)

[2017-03-10 19:48] rsignell-usgs commented on #28
@lukecampbell , that's what throws the internal server error.

I click that button, enter my email address, and then when I submit that I get the error.

And I don't get an e-mail.

[2017-03-10 19:50] rsignell-usgs commented on #29
And I'm happy to report I just tried running the notebook again and it worked fine.
So thanks @benjwadams !

[2017-03-10 19:50] #29 closed

[2017-03-10 19:54] lukecampbell commented on #28
that's even worse. Thanks for reporting it, I'm going to delete your account and you should be able to register for a new one again.

[2017-03-10 19:54] lukecampbell commented on #28
K, the account is deleted, could you try again please?

[2017-03-10 19:59] #25 closed

[2017-03-10 20:02] rsignell-usgs commented on #28
done

[2017-03-10 20:48] rsignell-usgs commented on #28
When I try to login, it says "check your email for your confirmation email"
But I don't have any confirmation email.   I checked spam, etc.

  I just have the initial "welcome aboard" email.

[2017-03-10 21:01] lukecampbell commented on #28
I just created a new account for myself and I got the verification email.

[2017-03-10 21:04] rsignell-usgs commented on #28
argh.  I see the email now.  I got it 3 minutes *before* the Welcome email.   But because I got 3 other mail messages in between, I didn't even see it.  I was expecting it *after* the Welcome email.

[2017-03-10 21:08] lukecampbell commented on #28
ok cool, I was starting to dig into how/why one email could get through but another one didn't. I was starting to imagine some incredibly complex sophisticated government spam filtering.

[2017-03-10 21:10] rsignell-usgs commented on #28
So now that I'm in at
https://registry.ioos.us/harvests
how do I figure out what to reharvest and how do I do it?

I tried the Unidata WAF listed as
http://thredds.axiomdatascience.com/iso/unidata/
but that gave a 404

[2017-03-10 21:10] lukecampbell commented on #28
So now that we got the registration process sorted. @kwilcox will need to agree to let me give you administrative access for Unidata and/or AOOS wherever the harvest is for.

[2017-03-10 21:11] lukecampbell commented on #28
Only members belonging to an organization can manipulate or change that organization's harvests.

[2017-03-10 21:11] rsignell-usgs commented on #28
I guess I don't really need admin as long as @kwilcox can do it.   He should do it anyway since the Unidata WAF probably moved somewhere else also.

[2017-03-10 21:21] kwilcox commented on #28
I hearby give @rsignell-usgs the ability to reharvest the Unidata data source (which I just fixed: http://thredds.axiomdatascience.com/iso/unidata/)

[2017-03-10 21:28] lukecampbell commented on #28
K, @rsignell-usgs you are part of the Unidata group and can reharvest Unidata harvests.

[2017-03-10 22:11] rsignell-usgs commented on #28
I just tried reharvesting the Unidata WAF and it worked!

@kwilcox , to address the original issue with CENCOOS ROMS raised here,  you just need to reharvest the CENCOOS WAF?

[2017-03-13 17:11] lukecampbell commented on #28
Is this all set?

[2017-03-13 17:53] rsignell-usgs commented on #28
Yes, it's all set.   I can see the correct WMS endpoint now.    I still can't access the Axiom ncWMS endpoint with TerriaJS because the getCaps is 360Mb, but that's another issue.

[2017-03-13 17:53] #28 closed

[2017-03-13 18:19] lukecampbell commented on #28
360 MiB!?

[2017-03-13 19:10] rsignell-usgs commented on #28
The getcaps is all timestamps of mostly regularly spaced data.    According to @kwilcox, it's an old, but highly-customized version of ncWMS that is great for speedily responding to large numbers of requests, but doesn't allow for the setting `<intervalTime>true</intervalTime>` that was added later.

[2017-03-15 17:06] johnwilkin opened #31 "MARACOOS ROMS ESPreSSO"
I'm looking on https://data.ioos.us for the MARACOOS Rutgers ROMS ocean forecast (ESPreSSO) that was previously on the NGDC geoportal. Maybe I'm not searching effectively, but I believe we should be there somewhere. The end points at http://tds.marine.rutgers.edu/thredds/roms/espresso/2013_da/catalog.html have not moved in a while.

[2017-03-15 17:17] rsignell-usgs commented on #31
The old NGDC catalog system harvested much of the metadata themselves and used a stand-alone crawler that worked on THREDDS servers without ISO enabled.

The new IOOS catalog relies on the regions to populate folders of metadata, and perhaps MARACOOS is using a crawler that expects the ISO services to be enabled.

 I just noticed that the catalog @johnwilkin specified does not have the THREDDS ISO

[2017-03-15 18:27] rjdave commented on #31
ISO is now enabled on the Espresso Real-Time v2 datasets.

[2017-03-15 18:55] rsignell-usgs commented on #31
@rjdave, nice!  Thanks!

@mwengren and @lukecampbell , I searched https://registry.ioos.us/harvests for MARACOOS and found that the catalog is harvesting these two WAFS:
http://tds.maracoos.org/iso/
http://sos.maracoos.org/iso/

Hopefully the scripts that are populating the `http://tds.maracoos.org/iso/` WAF will now be able to extract ISO records from http://tds.marine.rutgers.edu/thredds/roms/es

[2017-03-18 12:55] rsignell-usgs commented on #31
Still getting nothing here: https://data.ioos.us/dataset?q=espresso
@kknee, can you investigate?

[2017-03-18 13:13] rsignell-usgs opened #32 "Problem with Unidata WaveWatch III East Coast"
@lukecampbell was demonstrating the [catalog harvester interface](https://registry.ioos.us) at the DMAC meeting and randomly picked the Unidata WAF, reharvested the ISO records and found that one dataset had a problem.   Since this is a unidata dataset, I'm bringing in @lesserwhirls here also.

Luke then showed how you could sort datasets by error to locate the problem, and then drilled down to th

[2017-03-18 16:02] lukecampbell commented on #32
The XML Schema Definition doesn't allow exponential notation:

http://www.datypic.com/sc/niem21/e-gco_Decimal.html
Which links to:
http://www.datypic.com/sc/xsd/t-xsd_decimal.html

[2017-03-18 16:05] lukecampbell commented on #32
I looked into it a little more, I think that we'd need to patch thredds-iso so that it doesn't print floating point values in exponential notation.

[2017-03-18 16:42] rsignell-usgs commented on #32
@geoneubie to the rescue?

[2017-03-20 18:18] rsignell-usgs commented on #32
Closing in favor of https://github.com/Unidata/thredds/issues/783

[2017-03-20 18:18] #32 closed

[2017-03-24 17:17] mwengren commented on #27
@rsignell-usgs is this still an issue at this point?  Do the counts still not match?

There will probably always be slight inconsistency between CKAN/Solr search results and pycsw because they are totally separate.

But we do need to better automate the update of Solr search index ioos/catalog-ckan#143.

[2017-03-24 17:17] mwengren commented on #30
@lukecampbell what's the LOE for this?

[2017-03-24 17:33] rsignell-usgs commented on #31
I don't know what happened, but we now have espresso :coffee: !
https://data.ioos.us/dataset?q=espresso

![2017-03-24_13-32-48](https://cloud.githubusercontent.com/assets/1872600/24306278/7526a62e-1096-11e7-8082-a0cc7a055bb3.png)

[2017-03-24 17:46] rsignell-usgs commented on #27
Today I get 36 results from CKAN, 28 results from CSW.

[2017-03-24 17:49] mwengren commented on #31
I think the MARCOOS WAF scripts were having some issues recently (last couple weeks), but probably the TDS changes combined with the WAF process being fixed caused those forecasts to be added.  I looked at the Catalog harvest logs and a couple new datasets were added on the 20th.

[2017-03-24 19:13] lukecampbell commented on #30
A few days, meteor has the mechanisms to make this happen, we just need to hook it up.

[2017-03-27 15:56] rsignell-usgs commented on #31
I'm reopening this issue because I just noticed that these two Espresso datasets appear to be identical:  the history files from the 2013-present aggregation.

So we appear to have only 1  dataset being discovered twice instead of the 4 datasets we should have.

I gchatted with @rjdave and he has now enabled ISO services for the pre 2013 datasets in this catalog
http://tds.marine.rutgers.edu/thred

[2017-03-27 17:00] rsignell-usgs opened #33 "Add contact for each WAF"
Could we add (or display, if already exists) a field in the database at https://registry.ioos.us/harvests that identifies an email to contact if issues with specific harvests are discovered?

For example, the currently harvest of  MARACOOS forecast data from espressso populating this WAF
http://tds.maracoos.org/iso/
has an issue, and I know how to solve it (https://github.com/ioos/catalog/issues/3

[2017-03-27 17:04] rsignell-usgs opened #34 "Push to have harvesting scripts on github"
Could we push to get WAF ISO harvesting scripts posted here?
Currently we only have  neracoos:
https://github.com/ioos/catalog/tree/master/waf_generation_scripts

I ask because the current harvest of MARACOOS forecast data from espressso populating this WAF
http://tds.maracoos.org/iso/
has an issue, and I know how to solve it (#31 (comment)) , and if the code were posted, I could just submit a PR.

[2017-03-27 19:41] kknee commented on #31
@rsignell-usgs the two records referenced are actually slightly different
-	2013-present History Best (1D time) aggregation
-	2013-present History FMRC (2D time) aggregation

Now that the 2009-2013 dataset has had ISO support enabled,  we added
-	2009-2013 History Best (1D time) aggregation
***Note, the 2009-2013 dataset does not have an FMRC aggregation

We also added:
-	2013-present Averages Bes

[2017-03-27 20:14] rsignell-usgs commented on #31
@kknee , I would argue against providing the 2D time aggregations -- they are not CF-compliant and the WMS services don't work properly.    The 1D "Best" from the FRMC aggregation is all that most users expect to see.  These are CF-Compliant and match the structure of `joinExisting` aggregations.

[2017-03-27 21:12] lukecampbell commented on #30
https://github.com/ioos/catalog-harvest-registry/pull/99

I added it, now all that's left is to document it.

[2017-03-27 22:15] geoneubie commented on #32
@rsignell-usgs I see this has been closed, what was the resolution?

[2017-03-27 22:45] rsignell-usgs commented on #32
@geoneubie, I moved the issue here, remember?
https://github.com/Unidata/thredds/issues/783

[2017-03-28 12:05] rjdave commented on #31
I would also recommend against providing the 2D time aggregations. Both for the reasons @rsignell-usgs mentioned and the fact that we don't feel users should rely on the accuracy or validity of the first 24 hours (hindcast) of each run. The first 24 hours of hindcast is more of a spin-up phase, which is why we don't include them in our "Best" aggregation.

[2017-03-28 12:24] kknee commented on #31
@brianmckenna will update the waf today

[2017-03-28 13:52] rsignell-usgs commented on #31
@kknee and @brianmckenna, thanks!

[2017-03-28 16:26] johnwilkin commented on #31
Dave Robertson is absolutely correct about the other aggregations. We want to serve only what we have deemed to be the "best" time time series.

If users anonymous to us were to access anything else they would not know what they were getting and could neither make good use of it or comment knowledgeably on it. Nothing good can come of that.

Thank you all,

John.

--
John Wilkin   ph: +1-609-630-0

[2017-03-29 12:03] rsignell-usgs commented on #31
I now see 6 entries for espresso in the IOOS catalog: https://data.ioos.us/dataset?q=espresso

The 2009-2013 averages and history datasets are now there, but unfortunately the title for both is simply "espresso".

@rjdave, can you please modify the titles for these in your catalog NcML to be more similar to the 2013-present datasets, for example, something like:
"ROMS ESPRESSO Real-Time Operationa

[2017-03-30 16:04] rsignell-usgs commented on #31
@kknee and @brianmckenna, the Rutgers Espresso model forecast ISO metadata from
http://tds.marine.rutgers.edu/thredds/roms/espresso/catalog.html
needs to be harvested every day with the new forecast info (the stop date), but it doesn't appear that is happening (or it's broken):   the ESPRESSO records at http://tds.maracoos.org/iso/ were last updated 27-Mar-2017.

Can you please fix?

We discoverd

[2017-03-31 12:59] rsignell-usgs commented on #31
The Espresso forecast datasets on http://tds.maracoos.org/iso/ are still stuck on the 27th:
![2017-03-31_8-39-41](https://cloud.githubusercontent.com/assets/1872600/24551326/08bca772-15f0-11e7-90b4-20e9c7ceb9c0.png)

@kknee  and @brianmckenna, these need to be updated daily!

[2017-03-31 13:23] lukecampbell commented on #31
@rsignell-usgs the bottom two are not static documents and don't need to be updated daily. They are pure HTML anchors that link to the thredds service endpoints directly.
![screen_shot_2017-03-31_at_9_21_14_am](https://cloud.githubusercontent.com/assets/1155163/24552227/a4a16d78-15f3-11e7-9e1f-c97e595e12fd.png)

[2017-03-31 13:23] brianmckenna commented on #31
2009 datasets are no longer updating, so are assumed static.

2013 updates continuously, please check the content of the ISO.
At this moment  `<endPosition>` is:
- 2017-04-02T12:00:00Z for Averages [TDS](http://tds.marine.rutgers.edu/thredds/catalog/roms/espresso/2013_da/avg/catalog.html?dataset=roms/espresso/2013_da/avg/ESPRESSO_Real-Time_v2_Averages_Best)
- 2017-04-03T12:00:00Z for History [TDS]

[2017-03-31 13:39] rsignell-usgs commented on #31
@brianmckenna & @lukecampbell , ah, okay, my bad seeing those file dates for the 2013 data and assuming they were not updating.

Could you please link the 2009 data to the actual ISO records (shown below) as well so that changes made to the metadata in there will appear?   (we made some changes to the title and summary, for example)

http://tds.marine.rutgers.edu/thredds/iso/roms/espresso/2009_da/

[2017-03-31 20:55] mwengren opened #36 "Update GitHub Pages Docs site to use ioos_jekyll_theme"
Need to update the gh-pages branch for the [docs](https://ioos.github.io/catalog/) to use IOOS Jekyll Theme as a submodule.

Info on how to do this: https://ioos.github.io/ioos_jekyll_theme/pages/readme/.

Leveraging the shared theme will make keeping the Catalog docs site up to date with any template improvements a breeze (well, mostly)

[2017-04-05 20:12] #36 closed

[2017-04-05 20:14] mwengren opened #38 "Update Overall Catalog Arch Diagram"
Update the arch diagram on [Catalog Docs site](https://ioos.github.io/catalog/pages/architecture/) to remove monitor.ioos.us from the connection point between Catalog and EDS/Sensor Map.

[2017-04-07 11:33] rsignell-usgs commented on #31
Looks like espresso runs are now in tip-top condition in the catalog:
![2017-04-07_7-30-19](https://cloud.githubusercontent.com/assets/1872600/24798528/6a501e28-1b64-11e7-8184-f37707552312.png)

Thanks everyone!   :tada:

[2017-04-07 11:33] #31 closed

[2017-04-11 13:45] lukecampbell opened #39 "Update documentation with harvest scheduls"
Reference: https://github.com/neracoos-open/DMAC/issues/2#issuecomment-293221268

Add documentation/code examples to the IOOS Catalog Docs site.

[2017-04-11 13:47] rsignell-usgs opened #40 "Model of the Month"
Let's try to get one set of models each month fully available via [the IOOS Catalog](https://data.ioos.us/), including:
* discoverable via CSW with bounding box and time extents
* WMS endpoints enabled (this may involve setting up ncWMS2 services for unstructured grid data)
* Appropriate `title` and `summary`

Here's the list so far:

- [x] March:  MARACOOS Espresso ([success screenshot](https://g

[2017-04-17 19:09] dpsnowden opened #41 "Add a facet in the CKAN interface to identify the Data Provider within an Organization"
There is a need to identify and search for Data Providers within an RA (or other) organization structure.  We should be able to harvest a data provider and their association to an Organization.  What would it take to add a "Data Provider" menu in the image below.

![image](https://cloud.githubusercontent.com/assets/3603125/25100157/0a2aff56-237d-11e7-9ff1-45b1b5a34048.png)

[2017-04-17 19:38] lukecampbell commented on #41
Adding it to the UI would be trivial. Finding a consistent pattern in which the metadata identify and label data providers would be non-trivial. This falls under the category of "attribution" problems.

[2017-04-17 20:12] mwengren commented on #41
This is related to ioos/catalog-ckan#145, or rather #145 is a precursor for making this work within the UI, at least for SOS stations with metadata from sensorml2iso.  This fix should add a second entry under the 'Access' tab for these datasets (and then hopefully enabling facet filtering from there is not difficult as you say).

@lukecampbell @benjwadams  can one of you look at resolving #145?

F

[2017-04-18 20:41] emiliom commented on #41
Thanks, @dpsnowden and @mwengren. Yeah, for SOS, this would be pulled from the SensorML `operator` classifier, which is part of the IOOS-defined set of SensorML conventions/vocabularies:
- https://github.com/ioos/vocabularies#organization-descriptors-and-roles
- http://mmisw.org/ont/ioos/definition/operator

Off the top of my head, I don't know if there's a good equivalent in CF/ACDD that's used r

[2017-04-18 21:07] lukecampbell commented on #41
ncISO maps the following to the `CI_Responsible_Party` with the role code `originator`

`creator_name` -> `individual-name`
`creator_email` -> `contact-info/email`
`institution` -> `organisation-name`
`creator_url` -> contact-info/online-resource`

https://github.com/Unidata/threddsIso/blob/master/src/main/resources/xsl/nciso/UnidataDD2MI.xsl#L384-L391

[2017-04-19 12:45] mwengren commented on #40
@rsignell-usgs thanks for doing this.  We should put you on the agenda for an upcoming DMAC webinar, perhaps June after the initial meeting in early May after you've worked on the SECOORA model(s)?

[2017-04-19 12:54] rsignell-usgs opened #42 "Strange datasets when searching for "unidata""
https://data.ioos.us/dataset?q=unidata

What the heck are these strange datasets at the top of the list?

![2017-04-19_8-52-12](https://cloud.githubusercontent.com/assets/1872600/25180901/b3177598-24dd-11e7-86df-fdd383c386af.jpg)

[2017-04-19 12:55] rsignell-usgs commented on #40
@mwengren would be a pleasure to give an update on this...

[2017-04-19 13:08] mwengren opened #43 "NDBC and CO-OPS sensorml2iso metadata update"
Looks like the process to update the CO-OPS and NDBC SOS metadata via sensorml2iso hasn't run since 3/25.

Here's a couple examples:

CO-OPS:
https://data.ioos.us/dataset/urn-ioos-station-noaa-nos-co-ops-8729840-station-pensacola-fl1

NDBC:
https://data.ioos.us/dataset/mississippi-state-university-wave-glider-msg142

@lukecampbell can you investigate?

[2017-04-19 13:18] lukecampbell commented on #42
I don't see them

[2017-04-19 13:19] lukecampbell commented on #42
![screen shot 2017-04-19 at 9 18 59 am](https://cloud.githubusercontent.com/assets/1155163/25181992/3dccb880-24e1-11e7-8961-9e766817a910.png)

[2017-04-19 13:20] lukecampbell commented on #42
I ran a clear duplicates script about 20 minutes ago, maybe those were some bizarre dangling datasets that got cleaned up?

I'm also running the reindex now, it's at 2232/6320 datasets

[2017-04-19 13:43] lukecampbell commented on #42
They're back, so they're likely genuine.

[2017-04-19 13:47] lukecampbell commented on #42
They're from datasets with no title:
https://registry.ioos.us/waf/Unidata/1d8fa4c443e3b47e5fe1586f55fa675c6091cd6c.xml

[2017-04-19 13:48] lukecampbell commented on #42
![screen shot 2017-04-19 at 9 47 53 am](https://cloud.githubusercontent.com/assets/1155163/25183346/513c1600-24e5-11e7-81f8-05b7bbf73f0a.png)

[2017-04-19 13:55] rsignell-usgs commented on #42
@lukecampbell , interesting.   I'm giving a demo of the catalog today here at Unidata, and I'll ask use this to demonstrate how using a catalog is a good way to expose issues with the metadata!  (and BTW, can we avoid mucking with the catalog between 4-7pm Eastern today?)

[2017-04-19 15:18] lukecampbell commented on #42
Yes, we can certainly do that! If you have demos you want to give in the future, if you let me know I can make sure nothing but normal operations take place during those timeframes. I'll also try to bounce maintenance windows off you too.

[2017-04-19 15:19] lukecampbell commented on #43
The logs have this:

[code]

I restarted the container and CO-OPS and GLOS started harvesting again.

[2017-04-19 15:30] lukecampbell commented on #43
I ran it again and it worked. I'm really confused, I haven't made any changes yet, I was still trying to find out what happened and this was the only _error_ in the logs.

[2017-04-21 14:09] mwengren commented on #43
Running again now.

[2017-04-21 14:09] #43 closed

[2017-04-21 19:10] lukecampbell commented on #22
I'm surprised there wasn't more in this github issue, we discussed this a lot.

In any case good news!

[2017-04-27 13:50] mwengren commented on #27
@rsignell-usgs I think there may always be differences in the search results of the CKAN Solr index and the pycsw db, but are you in favor of doing further investigation of this?  Or can we close the issue?  Can you do a quick test of your notebook count again today?

Looks like we're up to 38 datasets [in CKAN](https://data.ioos.us/dataset?q=ROMS&res_format=WMS) currently.

[2017-04-27 13:57] mwengren commented on #22
The inventory is looking better in monitor.ioos.us.

Looks like the only 'issue' that remains may be the harvesting status.  I'm not sure whether the RA services are down as much as shown, but are the harvesters working properly?

https://monitor.ioos.us/services/filter/NANOOS/SOS
https://monitor.ioos.us/services/filter/GCOOS/SOS

GCOOS appeared down anyway.   NANOOS looked OK.

[2017-04-27 14:36] lukecampbell commented on #7
This is overcome by events (OBE) at the moment.

[2017-04-27 14:36] #7 closed

[2017-04-27 14:50] lukecampbell commented on #22
The rest of the issues are tracked by https://github.com/ioos/catalog-ckan/issues/153

[2017-04-27 14:50] #22 closed

[2017-04-27 19:17] #30 closed

[2017-04-27 19:17] #39 closed

[2017-04-28 16:13] #38 closed

[2017-05-18 20:07] mwengren commented on #27
I'm going to close this one as it's unlikely we'll make a change to resolve this.

[2017-05-18 20:08] #27 closed

[2017-06-02 16:21] mwengren commented on #42
@rsignell-usgs I believe this issue is closed/resolved?  Ok to close it?

[2017-06-03 07:10] rsignell-usgs commented on #42
Yes, this issue has been resolved, so I'll close, but I can't many of the unidata datasets now.  I'll raise another issue.

[2017-06-03 07:10] #42 closed

[2017-06-03 07:12] rsignell-usgs opened #45 "Are the unidata datasets being harvested?"
It looks like the unidata iso records are still getting updated here:
http://thredds.axiomdatascience.com/iso/unidata/
but it appears that they are not making it into the catalog.

This search on the "HRRR" model, for example, doesn't turn up anything:

https://data.ioos.us/dataset?q=HRRR

[2017-06-05 13:40] mwengren commented on #45
@kwilcox, it looks like http://thredds.axiomalaska.com/iso/unidata/ disappeared.

Any news on whether this will be restored or if it moved to another URL?

[2017-06-05 13:48] kwilcox commented on #45
It's always been http://thredds.axiomdatascience.com/iso/unidata/, must have been registered wrong?

[2017-06-05 14:11] mwengren commented on #45
Ok, will update.  We don't have a way to track whether URLs have changed over time in the Registry, but it must have been registered incorrectly as axiomalaska.com originally and that must have changed on your side to not redirect to axiomdatascience.com any more.

[2017-06-05 14:18] mwengren commented on #45
Should all be back now: https://data.ioos.us/organization/unidata.  Will close.

[2017-06-05 14:19] #45 closed

[2017-06-16 13:46] mwengren opened #46 "Plan for registering RA portals and products separately from datasets/services"
Feedback from GLOS Annual DMAC webinar:

Registration of portals and products sounds potentially useful; one thought is that mixing products and data in the discovery tool might be confusing, so the interface should make it clear that there are apples and oranges catalogued and also provide a way to look only at apples or oranges.

We should consider a) is it possible to differentiate between the

[2017-06-23 01:53] kknee opened #47 "Add IOOS favicon to data.ioos.us pages"
see https://github.com/ioos/ioos-us/issues/39

@benjwadams can you take a look? @ericmbernier FYI  Not a huge priority.

[2017-07-14 16:40] mwengren opened #48 "Track pycsw and CKAN/Solr search integration progress"
Keep issue open to track if any plans/progress exists to unify search/filter functionality in pycsw when deployed with CKAN.

CKAN uses a Solr index for search (potentially to be [abstracted](https://github.com/ckan/ckan/pull/3118) in the future).  pycsw uses its own search implementation.

Can we get the same, or more similar, search results from pycsw service that currently come out of CKAN/Solr

[2017-07-14 16:53] mwengren opened #49 "Hightlight RA-funded vs. Non RA-funded datasets in Catalog"
Many RAs aggregate lots of datasets that they don't necessarily fund or operate themselves.

In order to allow some/all of these data to be submitted to the Catalog, we need to have some way to highlight certain datasets funded or directly managed by the RA vs. more general data they aggregate and serve.

May require a metadata flag or some other manual means (in Harvest Registry?) to highlight da

[2017-07-18 11:08] tomkralidis commented on #48
cc @kalxas / @amercader / @jjediny / @rsignell-usgs

@mwengren thanks for tracking. Note that pycsw (master) now has the ability to allow for custom repository plugins to support any underlying backend (Elasticsearch, SOLR, etc.). The basic idea here is that the repository plugin parses the CSW filter into its own native filter syntax, performs the necessary query, and then returns a list of recor

[2017-07-20 19:41] mwengren commented on #48
@tomkralidis thanks, that seems worth pursuing.  If it avoids having to do the database synchronization routine and since in this case it would only be providing a search function (not insert, update, etc), hopefully that would simplify things slightly.

We'll keep this in mind for future work.  Unless of course someone out there has already started something like this and can share...

[2017-07-21 15:06] mwengren opened #50 "Can ncISO output links to THREDDS dataset pages, in addition to the service links?"
From the Catalog, it would be nice if one of the links included under 'Data and Resources' links directly to the THREDDS dataset page.

Here's an example:

[GEBCO_08 Grid](https://data.ioos.us/dataset/gebco_08-grid) -> http://thredds.aoos.org/thredds/catalog.html?dataset=GEBCO

rather than: [GEBCO_08 Grid](https://data.ioos.us/dataset/gebco_08-grid) -> http://thredds.aoos.org/thredds/dodsC/GEBCO.n

[2017-07-26 15:00] benjwadams commented on #49
There are several issues at play here:

1) As you mentioned, just because an RA has a dataset on their WAF or THREDDS server does not necessarily mean they are involved with the production of the dataset.

2) Often times I've seen that the institution and publishing information is not standardized.  This makes it so some of the metadata can reliably be associated with a dataset, but others cannot.

[2017-07-26 15:02] benjwadams commented on #49
Related: #41

[2017-07-31 16:04] mwengren commented on #50
cc: @kevin-obrien @noaaroland FYI, just wanted to bring this idea to your attention.

Would an enhancement request/issue be appropriate on the threddsISO repo?

[2017-08-19 12:31] tomkralidis commented on #48
cc @ricardogsilva

[2017-08-21 21:16] rsignell-usgs opened #51 "Investigate duplicate datasets not removed by "clear duplicates" scripts"
@kknee or @mwengren can you please have someone run the "clear duplicates" script referenced by @lukecampbell  here:

https://github.com/ioos/catalog/issues/42#issuecomment-295267423

I wanted to give an IOOS Catalog demo in a webinar tommorrow at 4pm and currently I'm getting lots of duplicates.

For example, I'm getting 3 copies of this ROMS dataset with [this query](https://data.ioos.us/dataset

[2017-08-22 00:41] mwengren commented on #51
They will probably see it anyway, but in case not, just including @ericmbernier and @benjwadams who will be taking care of this most likely.

[2017-08-22 19:35] ericmbernier commented on #51
I took a look at this. Ben is unfortunately out today, and I am not aware of the script Luke references in Rich’s referenced issue. I asked others who work on IOOS projects here, and they are not aware of the script either. We all agreed it be best we not poke around a production server and run any rogue, undocumented scripts with a demo in such close proximity. Sorry for the inconvenience this ma

[2017-08-22 21:12] rsignell-usgs commented on #51
Is it easy to get a list of all the WAF URLs that are harvested by the catalog?

[2017-08-25 20:34] benjwadams commented on #51
@rsignell-usgs , the duplicate elimination scripts are run periodically as is, so either they aren't catching this particular case or there's some other cause.

https://data.ioos.us/harvest has the list of WAFs we harvest from.  I don't know if there is access to this information through the CKAN API as well.

[2017-08-28 12:01] rsignell-usgs commented on #51
@benjwadams, do you want me to raise another issue like "investigate why duplicate elimination script is not eliminating these duplicates"?

[2017-08-28 12:05] rsignell-usgs opened #52 "How can I get a list of WAF endpoints that the catalog is harvesting?"
@benjwadams, you wrote:

That page is useful in that it tells me the catalog harvests from WAF 19 endpoints, but what I'm looking for are the actual endpoints themselves, like:
[code]
Where can I obtain such a list?

[2017-08-28 12:18] rsignell-usgs commented on #52
I just discovered a list here:
https://github.com/ioos/catalog/blob/master/doc/ioos_registry_wafs.csv
but I think it's not up to date because some endpoints like
http://thredds.axiomalaska.com/iso/unidata/
are giving 404 errors.

@mwengren, could I get an updated list like this?

Basically I'd just like to know what endpoints are currently populating:
https://registry.ioos.us/waf/

[2017-08-28 12:44] lukecampbell commented on #51
The "duplicates" that the scripts clean up are from failed harvests. When a harvest is run, if it fails for whatever reason the datasets that it attempted to harvest remain in CKAN until a third party cleans them up, namely us.

The specific SQL  command used is here:
https://github.com/ioos/catalog-docker-ckan/blob/master/contrib/scripts/cleanup_duplicates.sql

You can safely run it just about an

[2017-08-29 19:54] benjwadams commented on #51
@rsignell, I'll just rename the issue title and keep this one open.

[2017-08-29 20:25] benjwadams commented on #51
@lukecampbell,  the script should be running regularly, as it's in the `/etc/crontab` file:
`25 0 * * * root psql -h postgis -U ckanadmin ckan -f /scripts/cleanup_duplicates.sql 2>&1 | /usr/bin/logger -t cleanup_duplicates`

I tried running the query manually as well and then refreshing the Solr index.  Didn't fix it, so there must be something else at play here.

[2017-08-29 20:38] mwengren commented on #52
Yes, there is this page available on the Registry: https://registry.ioos.us/about.

But I suspect you probably want this (https://registry.ioos.us/api/v1/Harvests) from the [API](https://ioos.github.io/catalog/pages/registry/api/).

[2017-08-29 20:55] lukecampbell commented on #51
looks like the WAF has two entries with same name and description. Could be duplicates in the WAF?

[2017-08-29 20:55] lukecampbell commented on #51
https://registry.ioos.us/records/C7E83u81TFNv4qK3h#

[2017-08-29 21:27] mwengren commented on #51
Did some troubleshooting in the Registry and CKAN.

There are four separate 'ROMS' records published by MARACOOS in the Registry.

http://tds.marine.rutgers.edu/thredds/iso/roms/espresso/2009_da/avg?catalog=http%3A%2F%2Ftds.marine.rutgers.edu%2Fthredds%2Froms%2Fespresso%2F2009_da%2Fcatalog.html&dataset=espresso_2009_da_averages

http://tds.marine.rutgers.edu/thredds/iso/roms/espresso/2009_da/his?c

[2017-08-30 13:17] lukecampbell commented on #51
A while back we made the decision to remove the restriction on CKAN to allow records with same titles to go through, I wonder if that decision is showing consequences. There may be some internal mechanics of solr that don't behave well when it's allowed? Like maybe there's some code somewhere that keys off the title instead of the entity relationships.

[2017-08-30 14:00] mwengren commented on #51
Same titles or same fileIdentifiers?  Same titles is probably fine, but I don't remember removing the fileIdentifier restriction.  Since we're able to report that back to users in the Registry the CKAN harvest job results including those errors, we should still disallow those duplicates.

I found another example of duplicate records though similar to the ROMS results (at least in Solr - can't chec

[2017-08-30 21:22] benjwadams commented on #51
There are solr indexes with duplicate names for some reason.
Output of `curl -s "localhost:3001/solr/ckan/query?q=name:near-real-time-surface-ocean-velocity-u-s-eastand-gulf-coast-1-km-resolution2&rows=1000000" 2> /dev/null | sed -e 's/\\\+"/"/g' -e 's/"{"/{"/g' -e 's/"}"/"}/' -e 's/"\[{"/[{"/g' -e 's/"}\]"/"}]/g' -e 's/\]"/]/g' -e 's/"\[/[/g' -e 's/}"/}/g' -e 's/\\\\n/ /g' | jq . > /tmp/solr_out.

[2017-08-31 15:56] mwengren opened #53 "Diagnose CKAN <-> pyscw synchronization issues"
Per https://github.com/ioos/notebooks_demos/pull/128, it seems that the pycsw database may not be updating reliably from the CKAN database.

Test case is the [Catalog's 1KM West Coast HFR Dataset](https://data.ioos.us/dataset/near-real-time-surface-ocean-velocity-u-s-west-coast1-km-resolution2) from Scripps, which can only be retrieved by querying with a time range of the past month vs. past week,

[2017-09-05 21:10] mwengren commented on #48
Related to: https://github.com/geopython/pyfes.  Track/contribute to development of pyfes filter encoding module for Python.

[2017-09-06 16:20] mwengren commented on #51
Possibly related ioos/catalog-ckan#158

[2017-09-06 17:01] #52 closed

[2017-09-14 13:47] mwengren commented on #53
@ocefpaf Any chance you could re-run this notebook and post how far back you need to filter the date by in order to get any of the SCRIPPS HFR records back?

Trying to figure out if pycsw is updating or not since we first looked at this two weeks ago.

[2017-09-14 22:28] ocefpaf commented on #53
31 days

See https://gist.github.com/ocefpaf/b45877a314468f6c1e66dcf31eee610d

[2017-09-21 19:04] mwengren opened #54 "NERACOOS' dataset inventory contains many outdated records"
At the NERACOOS DMAC review, we discovered that many datasets contained URLs that had been replaced by upstream metadata updates.

Diagnose whether the issue is related to Solr index sync problems (ioos/catalog-ckan#158), other harvesting-related bug causing the CKAN database to be out of date, or a conflicting 'fileIdentifier' issue issue in source metadata that is preventing new records from har

[2017-09-22 19:20] ebridger commented on #54
@mwengren. I confirmed that the NERACOOS ISO WAF's do not contain unique 'fileIdentifier's. E.g. all the buoy B01 iso records for all 10 sensors or THREDDS NetCDF files have a fileIdentifier of edu.maine.B01.  This seems to date from Jun 23, 2017 which is when I switched our production TDS to https://hub.docker.com/r/unidata/thredds-docker/  iso records prior to that use the TDS urlPath as the fil

[2017-09-26 20:21] benjwadams commented on #53
I looked into this today and it looks like the logic used to determine whether a record is new is being falsely triggered for already existing datasets in the pycsw database.  This leads to a duplicate key trying to be inserted into the records table, which causes a failure.  I'm looking more into why this is occurring.

[2017-09-28 18:55] mwengren commented on #54
@ebridger, OK, keep us posted.  We are also looking into Catalog synchronization issues simultaneously, but resolving the duplicate fileidentifier issue will be necessary for any updates to make it through the Catalog.

[2017-10-04 15:01] mwengren opened #55 "Follow GCOOS CS-W service deployment and assist with Catalog harvesting if necessary."
GCOOS will be deploying a CS-W service to add new data services (WMS/WCS).  Assist if necessary with CS-W harvest by the Harvest Registry, as we are not yet actively using the CS-W harvest pathway.

[2017-10-04 17:36] benjwadams commented on #51
I cleared out a bunch of duplicate records from Solr this morning.  The duplicates in the example given are gone.  A couple harvest cycles completed and they're not recurring for the time being, but I'll keep an eye out for any duplicates which might pop up.

[2017-10-05 16:11] mwengren commented on #53
I had hoped to rerun the [notebook in question](https://github.com/ioos/notebooks_demos/blob/master/notebooks/2016-10-12-fetching_data.ipynb) this morning to check on the currency of those SCRIPPS records in the pycsw db, to get an update on @ocefpaf's most recent [test run](https://gist.github.com/ocefpaf/b45877a314468f6c1e66dcf31eee610d), but alas my feeble development environment here isn't up

[2017-10-05 16:19] ocefpaf commented on #53
Here is a new run,

http://nbviewer.ipython.org/urls/gist.githubusercontent.com/ocefpaf/b45877a314468f6c1e66dcf31eee610d/raw/1b73da1a8ff38759887d0ea99f281fc8ec20cb9d/debug_hfradar.ipynb

and things seems to be OK now. I was able to find data for the past 6 days.

The `debug_hfradar.ipynb` does not use `ioos_tools`. I guess you are trying to run the original notebook. I'll take a look and fix it no

[2017-10-05 16:53] benjwadams commented on #53
@ocefpaf, I ran the notebook as well and reproduced your latest results.

[2017-10-13 19:17] mwengren commented on #54
@ebridger, we have been troubleshooting the Catalog synchronization/harvesting issues over the past couple weeks.  We're not 100% through that, but we think things are in better shape than they were before.

Because there were a lot of factors involved with the NERACOOS WAF update process, and potential update failures due to Catalog issues at the time, etc, I think it's possible that some of the

[2017-10-16 18:37] kwilcox commented on #54
@ebridger Can you send the URL to your THREDDS server you are crawling to produce the ISO records? I had similar issues with the ISO translation for "parameter" based files (one file per parameter rather than one file per station) and I will attempt to remember what I did to fix this.

[2017-10-16 18:45] ebridger commented on #54
@kwilcox http://www.neracoos.org/WAF/UMaine/Realtime/iso/
The non uniqueness is only across a particular buoy.

[code]

[2017-10-16 19:04] kwilcox commented on #54
What is the URL to the THREDDS server that these ISO files were generated from? I can't seem to trace the ISO service URLS back to THREDDS URLs easily.

[2017-10-16 21:44] ebridger commented on #54
Duh. Sorry.
 http://www.neracoos.org/thredds/UMO_SOS_realtime.html

[2017-10-19 19:23] #47 closed

[2017-10-20 17:47] kwilcox commented on #54
The ISO files are using the combination of `naming_authority` and `id` to come up with the unique `fileIdentifier`. This was caused by updating THREDDS to a newer version that contained a new version of the ncISO translations.

ACDD states that:

You (and many others - myself included) split stations up into different datasets and each of the will require a unique `id` to be ACDD complaint. I woul

[2017-10-20 17:51] kwilcox commented on #54
Here is an example from the CeNCOOS THREDDS Server. Each parameter measured at a station is split into its own dataset and given a unique `id`:

http://thredds.cencoos.org/thredds/catalog/cencoos/sensors/mlml_mlml_sea/data/catalog.html

`naming_authority: mlml`

`id`:
* `mlml-sea:sea_water_temperature`
* `mlml-sea:sea_water_practical_salinity`
* ...

[2017-10-24 15:39] ebridger commented on #54
@kwilcox Thanks for clarifying this.  I had thought ncISO was using the THREDDS catalog ID, which also must be unique. Ran some tests and ncML can handle this w/o needing to update the NetCDF files. May just use the TDS ID as the id attribute via ncML.

[2017-10-24 15:50] kwilcox commented on #54
You could do that but be aware that other tools will using `naming_authority` and `id` to create a URN/URI for the dataset and it will not be pretty if you use a THREDDS catalog ID.

[2017-10-27 20:58] rsignell-usgs opened #56 "NYHOPS is missing from catalog"
I was running my wave height comparison notebook here:
https://github.com/reproducible-notebooks/coastal_wave_heights
and I noticed that NYHOPS wave heights should have been there, but were not.

I investigated and found they are missing from the IOOS catalog.

Probably missing since the move to catalog.ioos.us.

@Bobfrat , the THREDDS server at Stevens (http://colossus.dl.stevens-tech.edu:8080/th

[2017-10-30 18:24] mwengren commented on #33
@ericmbernier Apologies if it's too late, which it may be, but where will the contact info for PR ioos/catalog-harvest-registry#107 show in the UI?   In the harvests table?

I thought at first that non-admin users could only see their own harvests, but now I see that is not the case, they just can't edit any harvests not their own.  Great!

I guess a related question is can we set up so that if a

[2017-10-30 18:34] ericmbernier commented on #33
@mwengren Yes, it will show in the harvests table.

That feature shouldn't be a problem, just submit a new issue for it, as you mentioned.

Existing harvests can either have their contact manually added via the edit harvests page, or I can run a migration, which fills them all in at once, assuming we have this information readily available.

[2017-10-30 19:55] mwengren opened #57 "CO-OPS WAF Management"
Holdover from the original Catalog release last year, we're still managing CO-OPS' WAF for them (https://data.ioos.us/stations/waf/co-ops/).

We should pass along info to them to generate this themselves as part of supporting the SOS service.

[2017-10-30 20:05] mwengren commented on #8
I'm trying to revisit a lot of these loose end harvesting tasks for the Catalog at the moment.  OceanSITES was never harvested for the initial Catalog release.

@dpsnowden do you know whether OceanSITES publishes their own WAF?  I looked around the website but didn't see anything.  If not, we will probably need to set up our own process to maintain one on data.ioos.us (similar to what we do now fo

[2017-10-31 15:56] mwengren opened #58 "NDBC and CO-OPS WAFs no longer updating"
The [CO-OPS](https://data.ioos.us/stations/waf/co-ops/) and [NDBC](https://data.ioos.us/stations/waf/ndbc/) WAFs haven't updated since Aug 31.

We need to figure out why the sensorml2iso WAF generation scripts stopped and restart the cron or whatever config that was running them originally.

@benjwadams I remember you saying there were a lot of repeated processes handling WAF scripting around then

[2017-10-31 19:49] mwengren commented on #54
@ebridger If there's anything on the Catalog side we can do, let us know.

Curious, would the THREDDS catalog ID you were mentioning for this dataset:

http://www.neracoos.org/thredds/UMO_SOS_realtime.html?dataset=SOS_DSG_A01_CTD1m_Realtime

be `SOS_DSG_A01_CTD1m_Realtime`?

So, since `naming authority = org.neracoos` the resulting ISO XML fileIdentifier would be:

`org.neracoos-SOS_DSG_A01_CTD1m_

[2017-10-31 20:11] dpsnowden commented on #8
I don't think we should focus on OceanSITES at the moment, or, if we do we should just look at the DATA_GRIDDED directory and not the DATA directory.  There are still 12000 records in DATA and I'm not sure it's worth the cycle time at this point to regularly reharvest 12000 records.

Suggest leaving this on the way back burner and moving it back to the icebox.  The OceanSITES DMT has not weighed i

[2017-10-31 20:18] mwengren commented on #8
Ok, officially moved to back burner status again.

For future reference, focus should be on harvesting from DATA_GRIDDED catalog (http://dods.ndbc.noaa.gov/thredds/catalog/oceansites/DATA_GRIDDED/catalog.html).

[2017-11-01 20:24] ebridger commented on #54
@mwengren, @kwilcox I think Kyle was saying that the id and naming authority for a NetCDF file belongs in the global attributes of the file which would be better than relying on the THREDDS catalog's ncML  to set them.  I think I agree and am working on such a system. But to confuse the matter further I came across this link: [conventions-for-observing-asset-identifiers/ioos-assets-v1-0.html ](htt

[2017-11-01 20:32] mwengren commented on #54
@ebridger Ok, sounds good.  Using the global attributes sounds logical to me.  I admit I am not entirely up on our Asset Identifier conventions.  I know @kwilcox had presented some recommended changes at the DMAC meeting last year, but I don't know if those were rolled into those guidelines or not.

Also @abirger should be able to provide guidance on the status of the asset identifier conventions

[2017-11-02 15:20] benjwadams commented on #58
The container was indeed running, but it ran into an error condition which was not logged.  Only when I ran it manually did I discover it was getting stuck writing a file.  I'll update with any more info as I fix this.

[2017-11-03 14:54] benjwadams commented on #58
It looks like at least the <gmd:dateStamp> element has updated in a number of the HFRadar datesets.  I'll check to see that it's propagating through to catalog, etc.

[2017-11-06 13:56] mwengren commented on #58
Looks to be updating again this morning.  If you think the underlying issue is resolved with the Docker processes, let's close this issue.

[2017-11-07 00:54] abirger commented on #54
@ebridger ,

NcSOS uses the following rules suggested in the ["Crosswalk from netCDF attributes to IOOS asset identifiers"](https://github.com/ioos/ioos-netcdf/blob/gh-pages/_docs/NetCDF-to-SOS%20Mappings_clean_2016-04-07a.xlsx):

 1. IOOS Asset Identifier is a URN that have the following structure:

`urn:ioos:<asset_type>:<authority>:<label>:<component>:<discriminant><#functional_parameters>`,

w

[2017-11-13 20:17] benjwadams commented on #55
Do we have a URL to use?  I could just set up a CSW harvest source in CKAN.

[2017-11-14 18:05] mwengren commented on #55
Pinging @fgayanilo in case they have the CS-W up for testing.   Felimon can register the CS-W URL in the Registry, this was more for tracking in case there are issues.  GCOOS may not be ready yet for this step.

[2017-11-14 19:21] fgayanilo commented on #55
we have the CS-W installed and being tested at the moment. We discovered few issues that we hope to fix before the end of this month.

http://gcoosmaps.tamu.edu:8080/geoportal
http://gcoosmaps.tamu.edu:8080/geoportal/csw

[2017-11-20 16:16] benjwadams commented on #53
Closing as this now returns the HF Radar datasets.

[2017-11-20 16:16] #53 closed

[2017-11-20 18:20] #33 closed

[2017-11-20 19:08] rsignell-usgs commented on #53
I was excited to find hfradar data, but I searched for "hfradar" on catalog.ioos.us (https://data.ioos.us/dataset?q=hfradar) and then clicked on this dataset:

https://data.ioos.us/dataset/near-real-time-surface-ocean-velocity-u-s-eastand-gulf-coast-6-km-resolution

but when I try to access the the services links, they fail.  For example, the NCSS link: http://sdf.ndbc.noaa.gov/thredds/ncss/grid/h

[2017-11-20 19:44] mwengren commented on #53
@rsignell-usgs Thanks for the reminder.  I had noticed this last week, but then must have forgotten to make a new issue for it.

NDBC moved their THREDDS server sometime recently, see  http://sdf.ndbc.noaa.gov/

This is why we need to pass the WAF generation process downstream to the data provider (whenever possible), since we had no idea or notice of the change.

The current WAF process I created

[2017-11-21 21:28] mwengren commented on #53
@rsignell-usgs The NDBC TDS Server URL has been updated in our WAF cron job.  Those service links should now go to NDBC's new server:  http://dods.ndbc.noaa.gov/thredds/hfradar.html.

We'll be talking with them about handling the WAF generation themselves in the near future.

[2017-11-21 21:49] rsignell-usgs commented on #53
@mwengren Excellent.  Spiraling upwards!

[2017-11-29 14:55] mwengren opened #59 "Models: Hindcasts and Forecasts"
How to work better with model forecast and hindcast data in IOOS Catalog.  Are there metadata conventions we can use to 1) identify model output data (hindcast or forecast) and 2) associate related hindcasts and forecasts together.

From SECOORA DMAC review webinar.

[2017-12-11 19:17] mwengren commented on #51
This seems to be resolved now.  Closing.

[2017-12-11 19:17] #51 closed

[2017-12-18 18:15] benjwadams commented on #55
@fgayanilo, where does this stand at the moment?

[2017-12-18 19:02] ericmbernier commented on #56
@rsignell-usgs Hi Rich. I spoke with Nickitas and he is hesitant to invest time into upgrading their THREDDS instance. When attempting to run the stand-alone version of ncISO, the command typically hangs indefinitely. When it doesn't hang I receive back a single .xml file, with 0 bytes worth of data.

I've read both https://github.com/ioos/registry/wiki/Hosting-Your-Own-WAF and https://github.com/

[2017-12-18 20:28] fgayanilo commented on #55
Shin Kobara will work on removing some maps that may not need to be there. We should be ready before the end of the week. The URL remains the same.

[2017-12-19 11:37] rsignell-usgs opened #60 "IOOS catalog data services health monitor"
Do we have tools to monitor the health of the data services in the IOOS catalog?

@ocefpaf just discovered this morning that his demo wasn't working because
http://crow.marine.usf.edu:8080/thredds/dodsC/FVCOM-Nowcast-Agg.nc.html
is broken.  The THREDDS endpoint is there, but the opendap access to this dataset isn't working, giving java.io.EOFException error (yes, it has been reported to the provid

[2017-12-19 15:58] mwengren commented on #56
@ericmbernier Don't forget to take a look at the github.io docs here: https://ioos.github.io/catalog/pages/registry/waf_scripting/ and here: https://ioos.github.io/catalog/pages/registry/waf_creation/.  This may have a lot of the same information, but I think the plan as far as I know it is the Wiki and other information in the ioos/registry repo should be replaced by the github.io site for Catalo

[2017-12-19 16:48] rsignell-usgs commented on #56
@mwengren , yes, the Stevens THREDDS server is too old to run ncISO, so those scripts to gather metadata from nciso services don't work.

I just tried to run my  old stand-alone ncISO java code scripts and they failed with:
[code]
I downloaded that XSL file, opened it up in Oxygen, and about 30 errors are reported.  I don't know anything about XSL, so I don't know if these are important or not.

S

[2017-12-19 17:24] noaaroland commented on #56
http://www.ngdc.noaa.gov/metadata/published/xsl/nciso2.0/UnidataDD2MI.xsl: Premature end of file.

Why are you using that transform? The code I've released has not used that transform in many many months? What software are you using?

I downloaded the latest release and ran it on the catalog which I believe you are using with the following command line:

java -Xms1024m -Xmx1024m -jar ncISO-2.3.4.j

[2017-12-19 17:46] daf commented on #60
The previous IOOS Catalog was renamed to the Service Monitor and is still operational: https://monitor.ioos.us/

I wasn't able to find a service from that URL posted, but there is an FVCOM Nowcast here: https://monitor.ioos.us/services/590765c1b46a3d0055e83e36  - not sure if this is the same one.

Note: The service monitor considers it down because it won't respond to the .das request in 60s - tes

[2017-12-19 19:29] rsignell-usgs commented on #56
@noaaroland, can you provide the link to ncISO-2.3.4?
I didn't find it here:
https://geo-ide.noaa.gov/wiki/index.php?title=NcISO#Command_Line_Utility
or here:
https://github.com/noaaroland/threddsIso/releases

[2017-12-19 19:59] noaaroland commented on #56
Oops. Meant to link the text.

https://github.com/NOAA-PMEL/uafnciso/releases

[2017-12-19 20:33] rsignell-usgs commented on #56
Okay, @ericmbernier , here the recipe then:
1. Get the lastest ncISO that @noaaroland developed:
[code]
2. Run this script daily to grab the Stevens forecasts, hopefully before the IOOS catalog harvests from your WAF!
[code]

[2017-12-20 16:03] rsignell-usgs commented on #60
@daf, excellent.    How does one go about changing the characteristics of individual tests?  (e.g. changing the .das request to 80 s instead of 60s for that dataset)

Is there a repo where we can submit a PR?

[2017-12-20 16:48] daf commented on #60
I don't think it currently has a per-service specific timeout - it's just a global.  See here:

[models/harvests.py#L86-L87](https://github.com/ioos/service-monitor/blob/c45a258f996d1b46a5c21db0095a6c36dde00b77/ioos_catalog/models/harvests.py#L86-L87)

Low-hanging fruit here would be to make the second timeout equal to the first (they should likely be equal).

For a per-service timeout, you'd have

[2017-12-21 19:54] fgayanilo commented on #55
I will add this CS-W endpoint (http://gcoosmaps.tamu.edu:8080/geoportal/csw) to the harvester but it failed to harvest. Any idea?

[2018-01-02 15:46] benjwadams commented on #55
In https://registry.ioos.us/waf/GCOOS/, tthere are couple zero-length XML files.  My hunch is that these could be causing a problem.

[2018-01-02 17:26] fgayanilo commented on #55
If we can resolve this from your end, this will be great because the harvester will be robust enough and use ESRI/ArcGIS outputs as is. Having said that, we will try to eliminate the zero-length XML files from the manifest as requested.

[2018-01-02 19:42] benjwadams commented on #55
@fgayanilo, I ran the harvest scripts manually.  I'm having issues making POST requests for getRecords calls to your CSW.

This GET request works fine and returns records as XML as expected:

http://gcoosmaps.tamu.edu:8080/geoportal/csw?service=CSW&request=GetRecords&startPosition=1&maxRecords=100&resultType=results&elementSetName=full&outputFormat=application/xml

Although the getCapabilities doc

[2018-01-02 20:13] fgayanilo commented on #55
@benjwadams we will check tomcat config if POST is restricted or part of the <Limit> directive. I'll report back as soon as we can safely access the server. If you have ideas on what we should be checking as well, let us know.

[2018-01-02 20:16] benjwadams commented on #55
More succintly, the request could also be written as:

`curl -XPOST -d '<csw:GetRecords xmlns:atom="http://www.w3.org/2005/Atom" xmlns:csw="http://www.opengis.net/cat/csw/2.0.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" outputSchema="http://www.isotc211.org/2005/gmd" outputFormat="application/xml" version="2.0.2" service="CSW" resultType="results" startPosition="1" maxRecords="100" xsi

[2018-01-03 17:29] fgayanilo commented on #55
@benjwadams the version may be causing the issue. Your calls are using CSW 2.0.2 and GCOOS is using version 3.0 of CSW. The schema references are at http://schemas.opengis.net/cat/csw/3.0/

[2018-01-03 20:51] benjwadams commented on #55
@fgayanilo, I changed the XML payload to use the CSW 3.0 references.  I'm still getting HTTP 405 errors, indicating the POST method might be disabled.  Can you check your Tomcat directory for any XML config files where PUT, POST, GET, etc handling is defined?  A command like `fgrep --color -R -C5 POST --include='*.xml' .` run in the Tomcat directory might be helpful; here's a run on one of our ser

[2018-01-04 16:31] fgayanilo commented on #55
@benjwadams Shin'ichi Kobara made few configuration changes based on ESRI recomms.
http://gcoosmaps.tamu.edu:8080/geoportal/csw?service=CSW&request=GetCapabilities&version=3.0.0

Just in case, also try the base instance at:  http://gcoosmaps.tamu.edu:8080/geoportal-search/csw?service=CSW&request=GetCapabilities&version=3.0.0

Give it another try.

[2018-01-08 14:49] fgayanilo commented on #55
@benjwadams I am in MD for the 2018 ESIP meeting but I'll try this when I return next week.

[2018-01-08 16:20] fgayanilo commented on #55
@benjwadams have you seen this issue: https://github.com/Esri/geoportal-server-catalog/issues/67

[2018-01-10 14:19] mwengren commented on #60
@rsignell-usgs @daf Just FYA, we're considering retiring the Service Monitor site altogether at some point in the future.  It's unclear what the need is for this capability, and some of the functionality is duplicated by the Axiom Sensor Dashboard (for SOS services anyway).

The Service Monitor has caused issues with RA data services in performing its monitoring/harvesting routines in the past, wh

[2018-01-10 18:45] kwilcox commented on #60
I recall the service monitor had an ultimate goal of being able to automate the IOOS Asset Inventory process. Is that still the case?

[2018-01-11 20:38] ericmbernier commented on #56
@rsignell-usgs @mwengren The three harvested ISOs can be seen here: https://data.ioos.us/dataset?q=nyhops

Unfortunately, the naming convention is identical for all three. I can easily rename them during the WAF generation, if desired. If so, please let me know what the titles should be for each.

[2018-01-11 21:47] benjwadams commented on #56
Related: https://github.com/ioos/catalog/pull/61

[2018-01-16 15:19] benjwadams commented on #56
@ericmbernier, is this set now?

[2018-01-16 15:40] mwengren commented on #56
@ericmbernier @benjwadams We need to move the WAF output from ncISO from https://registry.ioos.us/waf/Stevens/ to https://data.ioos.us/ and then harvest that in the Registry under the MARACOOS organization, so the metadata eventually ends up alongside all the other MARACOOS metadata here: https://registry.ioos.us/waf/MARACOOS/ and gets into the Catalog that way.

[2018-01-16 15:46] mwengren commented on #60
@kwilcox We still have that as a goal, it may be just that we make a new tool to do that, partially based on the Service Monitor code.  It hasn't really been decided at this point.  Ideas or thoughts welcome.  Either way, it will use the metadata in the Catalog for content, so there's reason to make sure that is maintained as best it can be.

[2018-01-16 16:15] rsignell-usgs commented on #60
The basic use case here is:  I'd like to know before I run a catalog-driven workflow which services are failing.
If it's too expensive or time consuming to test all the specific dataset endpoints every hour or every day, here's an idea:

Every hour we could test the health of the main service endpoints (e.g. THREDDS, SOS, ncWMS server endpoints).    We could write a script to extract those endpoin

[2018-02-02 15:57] mwengren commented on #58
I'm reopening this issue since [CO-OPS](https://data.ioos.us/stations/waf/co-ops/) and [NDBC](https://data.ioos.us/stations/waf/ndbc/) WAFs are frozen since some time in Nov/Dec.

Can we add some sort of error notification if these cron jobs fail again (if not too onerous).  Seems like we're continually having to kick the tires to keep this process up and running, and there's no notice when it fai

[2018-02-07 19:56] ericmbernier commented on #56
WAF has been moved, and added to the Harvest Registry.

[2018-02-07 19:56] #56 closed

[2018-02-07 22:10] rsignell-usgs commented on #56
:champagne:

[2018-04-11 17:14] benjwadams commented on #58
The container hung due to excessive amounts of logs being generated within the container.  I have since moved the logs into a separate volume, but the log contents are still pretty excessive, so the logging should be configurable.  I created an issue for sensorml2iso here:

https://github.com/ioos/sensorml2iso/issues/24

[2018-05-15 19:35] brianmckenna commented on #58
@mwengren these WAFs look to still be updating, good to close?

[2018-07-18 16:42] #58 closed

[2018-07-25 17:14] ocefpaf opened #62 "Cannot find ERDDAP:tabledap endpoints when querying the catalog"
@mwengren as OHW18 approaches @emiliom, @rsignell-usgs, and I are putting together some notebooks to demonstrate how IOOS catalog works. However, we are concerned that we cannot find `ERDDAP:tabledap` server endpoints with a `csw` search.

In the example below we search for `sea_surface_temperature` using the SECOORA ERDDAP server just to ensure that data exists, then we try to find it using the c

[2018-07-26 02:25] emiliom opened #63 "NDBC station records, problems with CSW search filtering and SOS GetObservation scheme references"
NDBC station records are presenting several problems on IOOS Catalog CSW searches (and some of those problems are also apparent on the IOOS Catalog application). I suspect these problems are long standing, but I can't say for sure. There are 2 broad problems, with some overlap:

1. **CSW search filtering:**
    a. A CSW search that includes an OGC FES datetime filter invariably fails to produce an

[2018-07-26 17:05] ocefpaf commented on #62
Good to know. Thanks!

It is not only SECOORA BTW, we cannot find `ERDDAP:tabledap` in other regions that are known to have ERDDAP servers set as well. (But the reason for not finding them may be different.)

[2018-07-26 18:01] rsignell-usgs commented on #62
We really need to get this figured out.  We've been promoting ERDDAP for sensor data and yet we can't find any ERDDAP sensor data via CSW!

Here's a really simple notebook that illustrates the problem:
https://gist.github.com/rsignell-usgs/487d51feea270a50b5d0580c3e4de5b5

As you can see in cell [6], the ERDDAP-acquired metadata doesn't have the service endpoints set correctly as the `scheme` is s

[2018-07-26 22:40] benjwadams commented on #62
I'm actively looking at this to see whether or not the issue is arising at the CKAN level.

[2018-07-27 09:17] rsignell-usgs commented on #62
@benjwadams , excellent, I'm glad you are on the job!

Hopefully the fix is straightforward, and will enable us to generate some nice catalog/erddap notebook examples for [Ocean Hack Week](https://oceanhackweek.github.io/)!

[2018-07-27 13:44] mwengren commented on #62
From what I can tell, CKAN is parsing out the ERDDAP-tabledap resources properly.  My catalog-query script can parse them via the CKAN API, and you can filter them easily on the website:

https://data.ioos.us/organization/09cf7d59-3604-44f7-9c2c-5909d9705e40?res_format=ERDDAP-TableDAP

And in a source record [example](https://gist.github.com/mwengren/b39425927c1599bea0c955fe49860ddb) from SECOORA

[2018-07-27 14:31] mwengren commented on #63
@emiliom Here's my list of NDBC fixes and issues from ~1.5 years ago.  Do any of these seem connected to the issues you've found in the output metadata?  IIRC, I also had to add error handling functionality into pyoos when working with the NDBC service because  ~100 or so DescribeSensor requests from their service (as listed in GetCapabilities) returned exceptions or HTTP errors - so couldn't even

[2018-07-27 15:55] benjwadams commented on #62
@rsignell-usgs , @mwengren

This is related to how the PyCSW Python application is parsing out the links/references.
In the default PyCSW mapping, PyCSW stores everything for each CSW record in a flat table.   The info for the links are stored in the 'links' column (text type) of the 'records' table for my setup.

PyCSW will fetch the links here:

https://github.com/geopython/pycsw/blob/d0089732c5

[2018-07-27 16:48] mwengren commented on #62
Thanks @benjwadams for tracking it down!  Seems this problem is bigger than us, as I'd feared.  Bug report sounds good, although what version of pycsw are we running?  We may be a bit behind in the 1.x series.   Since I have their handles, I'll add @tomkralidis and @kalxas to this issue so they are aware anyway.

It's also potentially solvable via ERDDAP, although that's probably the less ideal fi

[2018-07-27 18:41] rsignell-usgs commented on #62
[code]
@BobSimons (or @benjwadams) where is this tabledap description coming from?
(I didn't find it in the ERDDAP source code at https://github.com/BobSimons/erddap)

[2018-07-27 19:02] BobSimons commented on #62
It's in EDDTable, but broken into chunks. Search for:
  ERDDAP's tabledap service (a flavor of OPeNDAP)

On Fri, Jul 27, 2018 at 11:41 AM, Rich Signell <notifications@github.com>
wrote:

--
Sincerely,

Bob Simons
IT Specialist
Environmental Research Division
NOAA Southwest Fisheries Science Center
99 Pacific St., Suite 255A      (New!)
Monterey, CA 93940               (New!)
Phone: (831)333-9878

[2018-07-27 19:03] emiliom commented on #63
@mwengren your issue #9 is exactly the same as the my "2" above (which has two parts, just like your issue)! But relative to how you reported it, I'd add these clarifications:

FYI, that would be sensorID, not stationID. But this is a minor point. The main issue is that this is wrong. The NDBC GetObservation observedProperty argument takes parameter name strings that seem to be largely CF standard

[2018-07-27 19:50] rsignell-usgs commented on #62
@BobSimons I searched for "flavor" and it didn't come up.

[2018-07-27 20:32] mwengren commented on #62
Those metadata (like the one I linked to in a gist above) are taken directly from the ERDDAP WAFs by Catalog, so as @BobSimons says the ERDDAP codebase is what is generating those description sentences.

I had meant to talk to you at some point Bob about how we could harmonize if necessary ncISO's approach to generating ISO XML with ERDDAP's but haven't had the time to get into that.  Maybe this i

[2018-07-27 21:04] BobSimons commented on #62
Harmonizing with ncISO is on my list of things to do.

On Fri, Jul 27, 2018 at 1:32 PM, Micah Wengren <notifications@github.com>
wrote:

--
Sincerely,

Bob Simons
IT Specialist
Environmental Research Division
NOAA Southwest Fisheries Science Center
99 Pacific St., Suite 255A      (New!)
Monterey, CA 93940               (New!)
Phone: (831)333-9878            (New!)
Fax:   (831)648-8440
Email: bob.s

[2018-07-27 21:31] mwengren commented on #63
@emiliom I took a look into the code again to try to sort out why #9 'observedProperty' parameter is wrong for the NDBC requests, and also compared the DescribeSensor Responses with the NANOOS service (which is of course what I used for reference when building out the module).

Since sensorml2iso is using pyoos and owslib to parse the SOS responses, the code block here:

https://github.com/ioos/se

[2018-07-27 22:37] emiliom commented on #63
@mwengren this looks very promising! Thanks for digging. I'll try to follow in your footsteps early next week to see what I learn and help enhance sensorml2iso to support the NDBC SOS w/o degrading other services.

I believe the NDBC SOS never fully adopted the IOOS SOS profile. The NANOOS SOS being an IOOS 52N SOS (albeit an older version, not the latest), its SensorML conventions should reflect

[2018-07-31 21:25] benjwadams commented on #62
Update: I have a hotfix coming along which adds some character escaping rules.  I am hopeful that it will fix some of the scheme issues.

[2018-08-01 19:37] benjwadams commented on #62
@rsignell, @ocefpaf, I pushed up a hotfix to production, based off of https://github.com/benjwadams/pycsw/commit/24f96822b6b6448781d8d8b6f5b1789d5f463bb7.  I can't find the PRJC1 dataset in catalog anymore for some reason, but please try querying against another dataset in the catalog that has ERDDAP endpoints.  Hopefully the scheme should be fixed.  Please test and report results and hopefully th

[2018-08-01 19:49] rsignell-usgs commented on #62
Yes, I see them!
https://gist.github.com/rsignell-usgs/487d51feea270a50b5d0580c3e4de5b5

do the other endpoints look okay?

[2018-08-01 19:53] ocefpaf commented on #62
@rsignell-usgs was faster than me but here is the notebook I used before:

http://nbviewer.jupyter.org/gist/ocefpaf/d8e12f30a7f1e62471ec7f5f6617c5f4

In cell [11] we can see one `ERDDAP:tabledap` for a glider. However, we still need to figure out why why cannot find datasets from http://erddap.secoora.org/erddap

This is probably unrelated to the pycsw issue that @benjwadams just fixed.

[2018-08-02 14:55] benjwadams commented on #62
@ocefpaf, could you create a separate issue for that?  The records in question don't seem to exist in the PyCSW database, whereas this issue dealt with records that did exist but returned the improper scheme.

[2018-08-02 15:14] ocefpaf commented on #62
Sure but the original issue I created was exactly about finding the SECOORA endpoints with a catalog search. We found 1 of the issues and you fixed that in pycsw but the main issue remains :smile:

So... Do we really need a new issue that will be a copy-n-paste of https://github.com/ioos/catalog/issues/62#issue-344532564 ?

[2018-08-02 15:46] rsignell-usgs opened #64 "SECOORA ERDDAP endpoints not found in catalog"
Thanks to https://github.com/ioos/catalog/issues/62#issuecomment-409696108 we can now find `ERDDAP:tabledap` endpoints, but the SECOORA ERDDAP endpoints are not showing up.

If we take a look at the ISO records from the SECOORA ERDDAP:
http://erddap.secoora.org/erddap/metadata/iso19115/xml/
we can see, for example, that there should be a dataset discoverable with a free text search on "Whitepoint"

[2018-08-02 15:56] benjwadams commented on #62
@ocefpaf, my omission, sorry.  I kinda got tunnel vision tracking down the cause of the incorrect scheme in the references.  Nonetheless, for bookkeeping purposes, it'd be easiest to track down in the newer issue.

[2018-08-02 16:02] ocefpaf commented on #62
No problem. @rsignell-usgs created #64 so let's move the discussion there.

[2018-08-02 16:02] #62 closed

[2018-08-02 16:21] benjwadams commented on #64
Looking into this, it looks like the CKAN harvests for SECOORA complete successfully.

However, the Registry's harvester may be stuck on the SECOORA ERDDAP WAF: https://registry.ioos.us/harvests  (search for SECOORA)

[2018-08-02 16:48] mwengren commented on #64
Strange, I see it's still running.  This definitely worked at one time without issue when @kwilcox created it.  Did you do a manual reharvest today @benjwadams?  Maybe it is just slower than normal chugging through the ~2300 records... if not we may need to dive into the MeteorJS code to diagnose what's happening with the job queue.

[2018-08-02 17:05] rsignell-usgs commented on #64
![2018-08-02_13-05-10](https://user-images.githubusercontent.com/1872600/43599168-c2f1be6c-9654-11e8-9a0a-f3293215f0c6.png)

[2018-08-02 18:28] benjwadams commented on #64
@mwengren, the harvesting code itself is running via Python.

@rsignell-usgs, Regarding the 0 records -- I restarted the harvester and it ran into an error condition, which then reset the record count on registry to zero.  I'm tracking that down right now -- another thing is that the harvest type likely should be "ERDDAP-WAF" for records coming from ERDDAP's XML metadata endpoint.
[code]

[2018-08-02 18:36] kwilcox commented on #64
There was some change a few months ago that should have allowed ERDDAP WAFs to function identically to regular WAFs. @mwengren knows the details...

[2018-08-02 18:36] mwengren commented on #64
Hi @benjwadams right, now I remember :) the harvesting is Python.

Like @kwilcox just said...

We had an issue about this at point I think, but I believe due to recent changes in the way ERDDAP does WAFs, the appropriate way to harvest newer releases like SECOORA's is to just use the plain WAF harvest type.  I think we actually were going to re-classify the ERDDAP WAF type to have a '<= 1.82' in t

[2018-08-02 18:39] benjwadams commented on #64
Duly noted.  I'm going to attempt to debug what's occurring on the SECOORA WAF harvest on my local dev environment.

[2018-08-02 19:31] rsignell-usgs commented on #64
The harvesting of the SECOORA and NERACOOS ERDDAP endpoints are both showing 0 records harvested, and both show the error "Cannot Access API [500]" as CKAN Job status.   Or is that just a special message for me because I don't have access?

[2018-08-02 19:51] rsignell-usgs commented on #64
CENCOOS ERDDPA is looking good, however.   Let's have what they are having!  😸

![2018-08-02_15-50-53](https://user-images.githubusercontent.com/1872600/43607361-fbb31fae-966b-11e8-9779-7c928d4af14b.png)

[2018-08-02 19:55] mwengren commented on #64
@rsignell-usgs The CKAN Job Status/500 Cannot Access API message is another issue we need to address, see: https://github.com/ioos/catalog-harvest-registry/issues/118.

From my observation, it seems to come and go, so hopefully it's an environment issue and not a newly-introduced bug.  The Registry is supposed to have access to read status and trigger CKAN harvests on demand.

[2018-08-02 20:09] benjwadams commented on #64
So what is essentially happening is that the `WAFParser` class will get any <a> elements on a page.  There are a number of links on most ERDDAP endpoints, i.e. about NOAA, NMFS, etc and presumably those don't want to be harvested, nor harvested.  A bunch of links that have nothing to do with ISO 19115 XML metadata are returned, including some anchors without an href attribute, which causes the par

[2018-08-02 20:15] rsignell-usgs commented on #64
@benjwadams , so why is the CENCOOS ERDDAP working with `WAFParser`?

[2018-08-02 21:16] benjwadams commented on #64
This

It's possible to have a `<a>` with `href` attribute and it looks like it's crawling from mutliple links in the default implementation
https://github.com/ioos/catalog-harvesting/blob/master/catalog_harvesting/waf_parser.py#L65-L66
So it's trying to call a string method on None, which is going to fail.

Also by using the default parser you may end up with some XML links which aren't ISO metada

[2018-08-02 21:17] benjwadams commented on #64
Didn't mean to close there, sorry.

[2018-08-03 17:40] emiliom commented on #63
*I'm pasting here @mwengren's status summary from a few days ago (via email), b/c it's a very helpful summary. As the ball is on my court at this time, this is mainly a note to self as well as general documentation on the issue (easier to track information here vs email threads).*

I think there's potential to make some fixes in sensorml2iso to resolve some of the NDBC SOS issues, but I honestly t

[2018-08-03 18:20] emiliom commented on #63
### NDBC SOS DescribeSensor documentation, behavior and examples

Here's the description of an `SOS DescribeSensor` request, according to the [NDBC SOS documentation page](https://sdf.ndbc.noaa.gov/sos/):

**DescribeSensor** - This function returns detailed sensor charactertistics. (Not fully implemented. Returns metadata for DART® stations, but only returns partial metadata for other stations.) P

[2018-08-03 20:01] emiliom commented on #63
After going over previous comments, the NDBC SOS docs and responses, and the `sensorml2iso` code, I think all these problems are resolvable within `sensorml2iso`. But it'll take a good chunk of effort.

Briefly, the least disruptive strategy will be to implement the `sos_type` argument for "ndbc", and use it to extract station['starting'], station['ending'] and station['variables'] from the `GetCa

[2018-08-03 20:11] benjwadams commented on #64
OK, the SECOORA ERDDAP WAF is now harvesting on the registry, see https://github.com/ioos/catalog-harvesting/pull/51

This also applies to the NERACOOS ERDDAP content, which had ERDDAP 1.82 and had encountered similar issues.

I'm kicking off a reharvest in CKAN right now and hopefully records should soon propagate to CKAN and PyCSW.

[2018-08-03 20:16] benjwadams commented on #64
@rsignell-usgs, this was a separate issue having to do with API keys for CKAN and was fixed.  I can't find the issue at the moment, but I'll update this comment with the fix resolution when I find it again.

[2018-08-03 20:33] mwengren commented on #64
Alright, great news @benjwadams!  Great to fix something on a Friday afternoon.  Thanks for all the troubleshooting this week.

[2018-08-03 22:00] rsignell-usgs commented on #64
Woohoo!   Working!   Nice work @benjwadams !!!
![2018-08-03_18-00-13](https://user-images.githubusercontent.com/1872600/43667710-2607fa0a-9747-11e8-877c-8f581a670994.png)

[2018-08-04 14:47] ocefpaf commented on #64
Awesome! I can see many station from SECOORA on my notebook now:

http://nbviewer.jupyter.org/gist/ocefpaf/37bc91ce93d7fd198850201b3ae0da8b

I know that @emiliom will be demoing a similar notebook for the NANOOS region.
@emiliom are you getting the ERDDAP:tabledap endpoints on your example?
If not we need to apply some of these corrections there.

[2018-08-06 15:00] benjwadams commented on #55
@fgayanilo, in reviewing open issues for the upcoming milestone, I reissued a GetRecords request over POST.  Instead of getting records back in the XML payload, I'm getting a GetCapabilities document back from the server.  Please check on your end if there is some kind of request redirection occurring on the server.

[2018-08-06 15:39] benjwadams opened #65 "CKAN 2.8 Upgrade"
Upgrade the version of CKAN to 2.8.   Because of the changes in the base CKAN Dockerfile, this will also require rewriting of CKAN's Docker setup.

[2018-08-07 18:12] benjwadams commented on #65
Current WIP branch is here with a compose file under

https://github.com/benjwadams/ckan/blob/new_compose_test/contrib/docker/docker-compose.yml

Known issues so far (will create separate issues for tracking purposes):

Styling seems broken on home page after upgrades

ckanext-spatial had some custom extensions made to the metadata model on the IOOS branch  -- these will need to be brought up to d

[2018-08-07 18:52] mwengren commented on #63
@emiliom It's very out of date now, but I was looking at the ioos/sensorml2iso module a minute ago for something else and noticed I already had a branch with some commits towards adding `sos_type` param capability.  I would start over with a new branch rather than try to update this one, but there may be a few code bits that could be extracted:

https://github.com/mwengren/sensorml2iso/tree/ndbc_s

[2018-08-08 00:02] emiliom commented on #63
@mwengren I've applied all the changes I was planning, and tested on my local dev code using this command (on one station):

[code]

[Here's the ISO XML it generated.](https://gist.github.com/emiliom/67d5ff87d2379932f0037e735d109d63) Can you take a look to double check that this XML record would solve the problems we've discussed? I think it does.

I haven't looked at your old `ndbc_sos_handling`

[2018-08-08 06:26] emiliom commented on #63
I've just pushed the code changes to the "ndbc" branch on my fork, https://github.com/emiliom/sensorml2iso/tree/ndbc. Take a look if you'd like. I plan to do a bit more testing before submitting a PR.

[2018-08-08 15:39] emiliom commented on #63
@mwengren Thanks for your review! Great.

Some quick follow ups:

Yup, as far as I can tell it resolves all the issues I identified.

While I haven't looked at that commit yet, the `sos_type` parameter read was already in the code base master branch. It just wasn't being actively used. See https://github.com/ioos/sensorml2iso/blob/master/sensorml2iso/command_line.py#L51

I'll work on fuller testin

[2018-08-08 17:05] mwengren commented on #63
Ah, ok, I didn't look at the master branch, assumed it was only in my NDBC test branch and hadn't already been folded into master.  Looking at two year old code might as well be like you never wrote it!

[2018-08-08 23:48] benjwadams commented on #65
Changing back to using Bootstrap 2 and associated templates fixed the wonky styling problems.  Apparently CKAN 2.8 went to using Bootstrap 3 as a default and it initially caused all the custom templates to look out of whack.  Reverting to the Bootstrap 2 templates/CSS fixed things.

http://docs.ckan.org/en/2.8/maintaining/configuration.html#ckan-base-templates-folder

[2018-08-09 06:14] emiliom commented on #63
I ran it on the NDBC SOS w/o selecting a specific set of stations, using this statement:
[code]

It generated 1,008 station ISO XML files (not 1,800). The log file is pretty big (7.5 MB), mainly due to the DescribeSensor XML being copied there. Near the beginning, after listing all stations, it lists 23 stations that I assume did not generate an ISO XML, and had this error message:
[code]
These ar

[2018-08-09 14:07] mwengren commented on #63
@emiliom Great, that sounds normal.  Like I mentioned NDBC SOS has errors and invalid DescribeSensor URLs.

Actually the number you got is probably the right count.  I had taken the dataset count for NDBC from the [Catalog](https://data.ioos.us/organization/noaa-ndbc), which we've been having duplicated dataset problems with, so no doubt there are several duplicates for NDBC floating around in the

[2018-08-09 18:26] mwengren commented on #58
@benjwadams Let's upgrade sensorml2iso version (1.0.4 released today), disable the verbose logging, and monitor the NDBC WAF to make sure everything looks good in terms of XML being output, and then close this and ioos/catalog#63 out together.

[2018-08-10 00:26] benjwadams commented on #65
@mwengren: I have a draft version of the new branch here with updated README including build instructions.  https://github.com/benjwadams/catalog-docker-base/tree/new_ckan_version_draft
You're free to attempt building catalog if you want.

It uses a custom CKAN branch with some mostly Docker build related changes as a submodule.  The approach may seem a little strange, but it is a lot easier than

[2018-08-16 20:03] benjwadams commented on #58
I just pulled the latest image onto production, the verbose logging appears disabled by default.  Let's check the output tomorrow.

[2018-08-20 07:20] emiliom opened #66 "Lag in IOOS Catalog OGC CSW endpoint temporal extent (stale CSW records?)"
I think the CSW records have been getting stale in the last two weeks or so. A CSW query with a temporal filter (say, last 5 days) that used to work, no longer returns records (or barely any) unless the length of time in the filter is expanded by a few days; and the length of that expansion has been growing as time goes by. I've illustrated this in this notebook: https://gist.github.com/emiliom/ea

[2018-08-20 19:08] emiliom commented on #66
YES!! I re-ran my notebook and the lag seems to be gone now. Awesome! Thanks so much.

I can close the issue if you'd like, or let you close it.

[2018-08-20 19:16] benjwadams commented on #66
Glad I could help!  I'll close it out.

[2018-08-22 17:30] kwilcox opened #67 "IOOS RA portal metadata records don't parse into pycsw"
I think @mwengren created these?

[code]

[2018-08-22 18:30] kwilcox opened #68 "Duplicate `<gmd:fileIdentifier>` fields in ISO records"
I did a little analysis on all of the ISO files in the registry and found a few issues. These are mostly related to RAs assigning dataset ids incorrectly. For ISO generated through THREDDS, the `fileIdentifier` in the ISO record is taken by combining the `naming_authority` and the `id` global attributes from the dataset.

### GLOS @tslawecki

* `glob_habs_lakes_ysi_*` - It looks like the `id` does

[2018-08-22 20:10] rsignell-usgs commented on #68
@kwilcox , fantastic!    We need this kind of feedback to providers so we can make the catalog even better!

[2018-08-22 20:30] kwilcox opened #69 "NDBC stations have invalid geometry elements in ISOs"
Many (if not all) of the ISO records generated from NDBC buoys have `nan` in their location fields.

`data.ioos.us/stations/waf/ndbc/sdf.ndbc.noaa.gov-urn_ioos_station_wmo_*`

[code]

[2018-08-22 20:36] rsignell-usgs commented on #69
@mwengren, do we know who the contact at NDBC is?

[2018-08-23 03:06] ebridger commented on #68
@kwilcox. The Realtime WAF was created quite a few years ago _specifically_ for the Sensor Map https://sensors.ioos.us/#  (in detailed consultation with Axiom) since the  scrapper/crawler was overwhelming our THREDDS  requesting observations from historical buoys no longer deployed.  I'd be glad to remove that WAF if the sensor map harvester no longer requires it.

[2018-08-23 03:59] kwilcox commented on #68
@ebridger That makes sense. You have a separate set of files you setup for the `Realtime` data access so the `HistoricRealtime` datasets was not overloaded. I don't recall this conversation but if the data is showing up and you are happy with it I'm not going to open that discussion back up!

https://data.ioos.us/dataset?q=%22A01+ACCELEROMETER%22&sort=score+desc%2C+metadata_modified+desc&ext_bbox=

[2018-08-23 11:03] rsignell-usgs commented on #68
We definitely want the `Realtime` WAF ingested, right?

[2018-08-23 14:50] mwengren commented on #69
@kwilcox When I was working on this module originally, I made a list of issues to follow up on (mostly wrt NDBC) after the first Catalog version came out, that at a minimum had a record for every provider's stations.

Needless to say, it never happened.  @emiliom found and resolved some of them as well recently.  This is what I have in my notes for NDBC issues, so I found this as well back then:

[2018-08-23 15:01] mwengren commented on #68
@kwilcox thanks for the report!

BTW, for @tslawecki @brianmckenna and @ebridger, the place to find issues like the fileIdentifier conflicts Kyle mentions is in the Harvest Registry, click on the 'View CKAN Job Status' button:

![ckan_job](https://user-images.githubusercontent.com/1469921/44533522-b298ec00-a6c3-11e8-8a8c-de9b0d560892.png)

This is the only place where we can report fileIdentifier

[2018-08-23 15:18] mwengren commented on #63
@emiliom I think we fixed all of these with your PR?  Going to close this.  If there's anything outstanding, let me know and will reopen.

[2018-08-23 17:49] emiliom commented on #63
Yeah, I think everything in the scope of this issue was covered. Thanks.

[2018-08-23 18:04] emiliom commented on #69
Regarding this:

@mwengren Is the RPS process you're referring to sensorml2iso, based on the latest release? That was my assumption, but I just want to make sure I didn't misunderstand. If this is the case, when do you expect [my fixes](https://github.com/ioos/sensorml2iso/pull/27) to be operational and reflected in the catalog pycsw, for testing/confirmation? Just curious.

Regarding the geometry

[2018-08-23 19:01] benjwadams commented on #69
sensorml2iso ion catalog is presently running v1.04 on the catalog server.  I see a new tagged release has been made on the 21st of August;  I have been OoO/busy for the previous two days, so have not had occasion to upgrade the release, but can do so now.

[2018-08-23 20:25] ebridger commented on #68
I decided to keep the Realtime WAF.  One issue is that the `id` is a NetCDF global attribute and the historical realtime aggregations are really 2 files, the historical file and the latest realtime deployment file.  The` id `is the same in both files. The realtime THREDDS catalog only references the realtime files. So the fix was to use ncml only in the realtime catalog to override 'id' global att

[2018-08-23 20:35] brianmckenna commented on #68
MARACOOS WAF has been updated. Should see unique IDs soon.

[2018-08-23 20:58] mwengren commented on #69
I need to get a clarification from @ocefpaf on how/when conda-forge will pick up the new release I just made (1.0.5 - dropped the unnecessary 'v' prefix).  I thought it would have been picked up by now, but I can't seem to remember how that process works.  @benjwadams I presumed you could update after that happened.

[2018-08-23 21:12] benjwadams commented on #69
@ocefpaf, @mwengren I've updated the version running on Catalog to 1.0.5.

IIRC, we do builds on DockerHub when new PRs are merged, but specific tagged versions aren't pushed up automatically.  I checked out 1.0.5 and built it, pushed it to DockerHub with the proper tag, and then pulled it down onto production.

[2018-08-27 14:38] mwengren commented on #58
@benjwadams How's this look?  Is the logging reduced?  Can we close this one out?

[2018-08-27 14:42] mwengren commented on #69
@emiliom referring to issues in ioos/sensorml2iso#28, I am able to download CSV observations from the CO-OPS stations in the Catalog now (eg. https://data.ioos.us/dataset/urn-ioos-station-noaa-nos-co-ops-9087096-station-port-inland-mi1), so I think the new sensorml2iso version @benjwadams  deployed means we're good on that issue now.

[2018-08-27 15:34] mwengren commented on #69
Related sensorml2iso issue: ioos/sensorml2iso#30

[2018-08-27 17:54] emiliom commented on #66
This problem is back.

Running the https://gist.github.com/emiliom/ea4ae7e6fe051d8cac2788015e60e0cf#file-iooscatalog_csw_oldtemporalextent-ipynb (the gist I mentioned in my first comment on this issue) today returns only 1 record, for a temporal window of the last 5 days. Expanding it to 10 days results in 24 records, which is closer to what I expect based on running this query many times over the

[2018-08-27 18:08] emiliom commented on #63
*Copying from https://github.com/ioos/catalog/issues/69#issuecomment-416267475, b/c the fixes are still not visible in the catalog or its pyCSW endpoint.*

Regarding the NDBC fixes from https://github.com/ioos/sensorml2iso/issues/26 and #63 (fixed on sensorml2iso by PR https://github.com/ioos/sensorml2iso/pull/27), @benjwadams said on 8/23:

But I'm not seeing the fixes reflected in either the Cat

[2018-08-27 18:08] emiliom commented on #69
Regarding the NDBC fixes from https://github.com/ioos/sensorml2iso/issues/26 and #63 (fixed on sensorml2iso by PR https://github.com/ioos/sensorml2iso/pull/27), @benjwadams said on 8/23:

But I'm not seeing the fixes reflected in either the Catalog (eg, https://data.ioos.us/dataset/delaware-bay-26-nm-southeast-of-cape-may-nj1) or via the CSW query in my sample gist at https://gist.github.com/emili

[2018-08-27 20:43] mwengren commented on #63
@emiliom This is the timeExtent issue for NDBC services you are referring to here?  I don't see a time extent in that record either, but it's possible the information isn't included in all the NDBC stations.  But, if it's in fact widespread, I'm not sure why the timeExtent is not being displayed in Catalog, I thought that was fixed in the 1.0.4 version of sensorml2iso.

[2018-08-27 20:45] mwengren commented on #69
@emiliom I believe the CO-OPS stations and 'None' strings were fixed in Catalog, the ones I tested anyway.  You are referring to another problem here specific to NDBC correct?

[2018-08-27 21:41] emiliom commented on #69
As far as I can tell, that's the case.

Yeah, I'm referring to the NDBC-specific problems we fixed in https://github.com/ioos/sensorml2iso/pull/27 that should be deployed by now (1.0.5). I brought them up here since they've been mentioned in this issue, too.

[2018-08-27 21:47] emiliom commented on #63
I'm referring to **all** the NDBC-specific problems address addressed in https://github.com/ioos/sensorml2iso/pull/27:

- missing time extent
- "Z" added at the end of eventTime strings in GetObservation request
- use of CF standard names (when available) instead of sensor urn's in GetObservation request
- listing of CF standard names (again, when available) instead of sensor urn's in keywords

I

[2018-08-27 22:02] mwengren commented on #63
Ah yes, that would do it, I forgot to tell @benjwadams to do that part!  Luckily, it should be an easy fix to add that to the Docker config.json file we're using to generate those WAFs, it's already parsed [correctly](https://github.com/ioos/sensorml2iso/blob/master/contrib/init/51_config#L38-L40).

[2018-08-27 22:21] emiliom commented on #63
Great. Let me know once it's confirmed that the Docker config.json file has been changed **and** the changes are visible on the Catalog. Not that I have anything riding on the outcome; I'm just looking forward to the mental "done, check off" for this thing :wink:

[2018-09-11 14:14] mwengren commented on #63
@benjwadams Have you changed the sernsorml2iso Docker config settings on data.ioos.us for the NDBC WAF to include `--sos-type=ndbc` for that job?  If not, can we do that to hopefully close this issue out this week along with the new release?  A quick check showed issues still with the NDBC records.

[2018-09-11 14:18] mwengren commented on #55
Moving milestone to next release since there hasn't been any change on the GCOOS side to allow our CS-W harvest requests.

FYI @fgayanillo, please take a look at your server firewall settings because we are not able to issue the HTTP POST requests necessary to harvest from your CS-W.  Until this is resolved, we won't be able to include your CS-W hosted records in the Catalog.

[2018-09-11 21:11] otwn commented on #55
Can you try to harvest from this?
http://geo.gcoos.org:8080/geoportal/csw

gcoosmaps server is no longer available and I switched server to this one.

[2018-09-17 14:59] benjwadams commented on #69
I've updated the harvesters to use the NDBC flag.  Please check if they're functioning now.

[2018-09-17 15:17] benjwadams commented on #66
CSW sync job had some issues that needed fixing.  Those have been addressed now and I also have a job which should alert me when the metadata modification time of the CSW records drifts too far away from the CKAN records (presently set to 1.5 days.)

[2018-09-17 16:19] benjwadams commented on #55
Still appears to be eating the POST request:

`curl -XPOST -d '<csw:GetRecords xmlns:atom="http://www.w3.org/2005/Atom" xmlns:csw="http://www.opengis.net/cat/csw/2.0.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" outputSchema="http://www.isotc211.org/2005/gmd" outputFormat="application/xml" version="2.0.2" service="CSW" resultType="results" startPosition="1" maxRecords="100" xsi:schemaLo

[2018-09-17 19:07] otwn commented on #55
I see. We are working on this, but data source of this is arcgis server and it has an issue now. As soon as we solve this issue, I will post the new url again.

[2018-09-21 17:20] benjwadams commented on #63
Hmm, thought I had commented on this issue.  The sensorml2iso container is running with the updated version and the following crontab:

[code]

So it should be running with the updated code/flag for the sdf.ndbc.noaa.gov source.

[2018-09-23 16:09] benjwadams commented on #65
@mwengren: I was able to fix the issues with the [dropdown menus not operating](https://github.com/ioos/catalog-ckan/commit/8c2dcfc8c980d1d41295d25733e05b3290c54de7) and [pagination CSS/display](https://github.com/ioos/catalog-ckan/commit/dcc8830aa06bd339197e957ac631195b3f6e371f).  I believe the latter may be a bug/omission in newer versions of CKAN when using the legacy Bootstrap 2 templates, so

[2018-09-25 19:33] benjwadams commented on #66
I ran the notebook with minimal modifications (I could not run ioos_tools due to a dependency on iris, which did not appear to have a Python 3.6 package for pip to install).  The record count is up to 47 records in the last 5 days.   I also am now monitoring the metadata modification times of the CKAN datasets compared with the CSW records harvested.  If there's too large a discrepancy, I receive

[2018-09-25 19:33] #66 closed

[2018-09-25 21:07] emiliom commented on #63
It looks like the problems with NDBC records are now resolved! At least on the IOOS Catalog, based the one example record I've been using. Woo-hoo!

@mwengren hopefully you can do more testing. And hopefully that'll confirm that NDBC records are now first class citizens in the IOOS Catalog, including CSW queries. In that case, you can close this issue.

[2018-09-26 12:13] mwengren commented on #63
I think based on a quick inspection of some of the NDBC SOS datasets in the Catalog, this can be called resolved.  I didn't dig into any CS-W results, but since there was a separate issue to fix the CS-W sync process I think we can assume that CKAN -> pycsw sync is working properly again.  Closing this one.

[2018-09-26 12:13] #63 closed

[2018-09-26 13:21] mwengren commented on #65
@benjwadams, things are looking good.  The only remaining UI issue I noticed this morning was that the draw icon is missing from the Leaflet map.  See screenshot.  Resource dropdowns and pagination controls look better.

![Screenshot from 2018-09-26 09-13-35.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/573c586fa6fa830e003f504b/125516c66e82c728ace21e0d46db978826878dba87e

[2018-09-27 20:14] benjwadams commented on #65
@mwengren I am unable to replicate the above issue with the map.  Since the new version is now deployed to the production site, could you see if it's working on data.ioos.us for you?
![map_icon_ff_63](https://user-images.githubusercontent.com/4118886/46172032-5c920800-c270-11e8-9503-29784c4391c8.PNG)

[2018-09-27 20:40] benjwadams commented on #65
Closing this out as I now have a release and all major issues appear addressed.

[2018-09-27 20:40] #65 closed

[2018-10-12 11:11] rsignell-usgs opened #70 "Enable CORS on CSW requests"
It appears CORS is not enabled on https://data.ioos.us/csw.

This makes exploring IOOS datasets by CSW in tools like TerriaJS fail.

CORS compliance can be tested at https://test-cors.org:  If you drop the CSW endpoint in there under Server=>Remote URL, and hit "Send Request", it should return 200, not 0.

https://gamone.whoi.edu/csw    returns 200.
https://data.ioos.us/csw    returns 0.

Looks li

[2018-10-16 15:35] mwengren commented on #70
@benjwadams Can you take a look at this?

[2018-10-16 20:12] rsignell-usgs commented on #70
As I understand it, for a public server that doesn't require/support any authentication, enabling CORS is definitely 100% safe

[2018-11-07 22:50] benjwadams commented on #41
We would probably need an authoritative list of institution names and their synonyms, i.e. UCSD would map to UC San Diego and University of California San Diego.  NCEI, for example, has had issues with arbitrary institution names being specified for glider data.

[2018-11-08 02:12] benjwadams commented on #70
Try it now.  There appears to have been a misconfiguration issue with the web server.

PS: for server configuration issues, it's often better to reach me directly via email.

[2018-11-08 10:59] rsignell-usgs commented on #70
Yes!  Passes the CORS test:
![2018-11-08_5-58-03](https://user-images.githubusercontent.com/1872600/48194552-584f1500-e31b-11e8-97a5-b083cacc8b48.png)

[2018-11-08 10:59] #70 closed

[2018-11-08 17:17] benjwadams commented on #67
@kwilcox, could you elaborate a little more on the issue you're having?

[2018-11-08 17:20] benjwadams commented on #34
@rsignell-usgs :  I honestly haven't looked at the individual scripts these days because they mostly seem to just work.  Nonetheless, there appear to be scripts for a few more institutions since this issue was originally posted.   Is the current state of the scripts posted sufficient to close out this issue?

[2018-11-08 17:21] benjwadams commented on #16
There is a dev catalog server, but it's presently only accessible via the external IP address.  I'll get it registered with DNS and see what we can do.

[2018-11-08 18:04] benjwadams commented on #16
https://dev-catalog.ioos.us now points to an actual development version of the catalog.

[2018-11-08 18:04] #16 closed

[2018-11-09 16:05] mwengren commented on #8
Closing due to no action on identified data sources.  If we have a need for OceanSITES data in the future we can revisit.

[2018-11-09 16:05] #8 closed

[2018-12-17 16:39] mwengren commented on #41
@benjwadams Let's enable this capability by adding a faceted filtering capability on the 'Originator' CKAN extra field (from ISO metadata).  Also add an extra menu item on the left called 'Data Provider' or something similar.

[2018-12-17 16:42] mwengren commented on #23
@rsignell-usgs Are there any data providers using Hyrax that would be adding datasets to the IOOS Catalog?  If not, we'll close this one as it's rather old and not a big priority to implement otherwise.

[2018-12-18 21:15] mwengren commented on #54
@ebridger  This is an old issue that's lingering in our ioos/catalog repo.   Has the current version of the IOOS Catalog and any changes you made in TDS addressed the missing NERACOOS datasets/duplicate ID problem properly?

We're having harvester issues in the CKAN part of the Catalog unfortunately, so can't see the NERACOOS CKAN harvest job [status](https://registry.ioos.us/jobs/show/NERACOOS?ha

[2018-12-20 17:20] ebridger commented on #54
@mwengren Just seeing this now.   Just checked the UMaine WAF's and  all the files have unique fileIdentifier's so I think we are O.K. So close this. The bounding box is a separate issue which I'll look into.

[2018-12-21 20:18] mwengren commented on #54
Ok, closing as we've resolved the NERACOOS identifier conflicts.

[2018-12-21 20:18] #54 closed

[2019-01-29 20:36] mwengren commented on #23
Closing issue as no longer needed.

[2019-01-29 20:36] #23 closed

[2019-01-29 20:46] mwengren commented on #55
@otwn @fgayanillo what is the status of the GCOOS CS-W service debugging?  We need your assistance to debug server issues to enable the harvest or we will have to close this issue as unneeded.

[2019-01-29 20:59] fgayanilo commented on #55
We still cannot figure out the problem and we may need to return on this at some future time.

[2019-02-01 15:08] mwengren commented on #55
@fgayanilo Ok, I think we'll close this issue out for now.  It would be good to include the GCOOS GIS data in the future, so if you decide to pick it back up please reach out to us for any troubleshooting help.

[2019-02-01 15:08] mwengren commented on #55
Closing #55.

[2019-02-01 15:08] #55 closed

[2019-02-14 17:03] benjwadams commented on #34
Harvester scripts have been updated and pushed  to GitHub.  Closing.

[2019-02-14 17:03] #34 closed

[2019-02-14 17:51] benjwadams commented on #68
This appears to be fixed for MARACOOS.

[2019-03-11 14:53] mwengren commented on #68
@kwilcox Any chance you can confirm easily if this has been resolved (at least for NERACOOS and MARACOOS).  Not sure GLOS' status.

[2019-03-11 16:21] benjwadams commented on #48
This would be fairly trivial to implement with PostgreSQL's foreign data wrappers if there were one offered for Solr, as is the case with ElasticSearch.

[2019-03-12 14:28] mwengren opened #71 "GLOS WAFs need attention"
The GLOS TDS WAF has moved.  No records found at the former URL: http://tds.glos.us/waf/.

Perhaps a side-effect of the cloud migration?

[2019-03-20 00:20] benjwadams commented on #41
Made some good progress on this (called "Data Provider" "Data Originator" instead, oops, will fix).   I hope to have something for a PR tomorrow.

![data_originator_search](https://user-images.githubusercontent.com/4118886/54650298-382b2180-4a84-11e9-9575-ce3908052845.png)
![data_originator_filter_list](https://user-images.githubusercontent.com/4118886/54650326-54c75980-4a84-11e9-8f80-f6e72350bc75

[2019-03-20 13:03] mwengren commented on #41
@benjwadams  Great!  Let's just call it 'Data Provider' like you mentioned, that seems to be the colloquial term in use.   Let me know if you deploy that on the catalog-dev site and I'll take a look.

[2019-03-20 13:06] mwengren commented on #48
@benjwadams We can talk about this at next week's meeting, but since it's been ~ 2 years since the original discussion, we should probably reach back out to @tomkralidis or others to see whether something like this has already been implemented or if there's another way to approach it.

[2019-03-21 13:24] kwilcox commented on #68
I had a nice little script that testing all of this but I can't find it... so no, I can't easily confirm, sorry!

[2019-03-22 11:06] tomkralidis commented on #48
cc @kalxas @capooti

I'm not sure for SOLR but for Elasticsearch @mikejmets has implemented the functionality for a specific project which we should integrate into pycsw core.  We will also be discussing this at the [OSGeo Code Sprint](https://wiki.osgeo.org/wiki/OSGeo_Community_Sprint_2019) and potentially implementing it that week with enough interest/energy.

[2019-03-22 14:24] capooti commented on #48
@tomkralidis sounds great

[2019-03-22 14:40] mikejmets commented on #48
Here is the branch https://github.com/SAEONData/pycsw/tree/elastic. It contains a plugin that interfaces with the cherrypy ElasticSearch wrapper https://github.com/SAEONData/elastic-search-agent. Still hoping to get funding to refactor this plugin to talk directly to elasticsearch-dsl instead of the wrapper.  @bryan-mcalister-saeon has created the docker deployment files here https://github.com/SA

[2019-03-26 15:13] mwengren commented on #71
Resolve duplicative fileIdentifier issues in #68 at the same time as this issue.

[2019-03-29 19:58] benjwadams commented on #41
This has been implemented by https://github.com/ioos/catalog-ckan/pull/201.  Closing.

[2019-03-29 19:58] #41 closed

[2019-04-01 13:48] benjwadams commented on #68
I'm crafting an updated release, so I'm going to move this into the next milestone.

[2019-04-09 12:23] mwengren commented on #57
Closing, because it's more likely we'll retire SOS before anything is done to get CO-OPS to maintain its own SOS WAF.

[2019-04-09 12:23] #57 closed

[2019-06-17 15:08] benjwadams commented on #69
I'd like to close this issue out.  Could anyone confirm/deny if this is working as intended?

[2019-09-03 15:21] #69 closed

[2019-09-03 15:22] benjwadams commented on #69
Closing due to inactivity and fix applied.

[2019-09-03 15:25] benjwadams commented on #50
Going to close this as I don't really have control over the ISO metadata generated by clients.  It's not usually desirable to be editing metadata, but if it's something we really want to revisit, we can.

[2019-09-03 15:25] #50 closed

[2019-11-04 16:59] benjwadams commented on #71
Updated to use GLOS GeoNetwork CSW as data source for harvest in the Harvest Registry.  Records are showing up in GLOS WAF and are harvested by the Catalog, so I'm going to close this out.

[2019-11-04 16:59] #71 closed

[2019-11-22 19:07] mwengren opened #72 "Create/update https://data.ioos.us/waf"
Presently, there's a static set of subdirectory WAFs from an old version (2016 and earlier) of the IOOS Catalog hosted at https://data.ioos.us/waf/.  Because of some changes with NOAA's Data Catalog systems, we need to provide them a regularly-updated dump of all our dataset ISO XML files in a single WAF for harvest (until they are able to read our CS-W service).

Can we write a simple harvester s

[2019-11-22 19:38] benjwadams commented on #72
What's the issue with harvesting from the current CSW we have running?

[2019-11-22 19:52] mwengren commented on #72
Unfortunately, they're doing some re-tooling and the new tools don't yet support CS-W harvest.  They're moving away from CKAN actually and replacing the web interface with a new in-house system called 'OneStop'.  You can see it here: https://data.noaa.gov/onestop/.   It has many different tools under the hood, like ElasticSearch for indexing for example.  It's a slightly different take from the UI

[2019-11-22 21:17] benjwadams commented on #72
OK, no problem.  I should be able to export any records from PyCSW to a folder using its export functionality: https://pycsw.org/faq/#how-do-i-export-my-repository

[2019-11-22 22:16] mwengren commented on #72
Great, let's just do that since it's simple and wipe the old records and replace with that.

Let's put this at the top of the Catalog issue list for whenever you get back to working on it.

[2019-11-26 16:12] mwengren commented on #72
For reference, this is what the new IOOS Catalog -> NOAA 'OneStop' Catalog -> Data.gov harvesting workflow that we need to support looks like:

![NOAA Data Working Group Update](https://user-images.githubusercontent.com/1469921/69650330-711c8c80-103c-11ea-9f7d-bdac998b16c2.png)

Here's an example what a CARICOOS record looks like in OneStop once harvested.  Hopefully they'll be parsing and display

[2019-11-26 21:57] benjwadams commented on #72
I tried exporting through `pycsw-admin`.  Unfortunately, it looks like the currently running version of the code attempts to load all the records into memory prior to exporting to XML.  For a small-sized CSW deployment, this would be OK, but for the current size of our data inventory, it's causing issues with exporting things all at once due to the large number of records.  I'll continue looking f

[2019-12-02 17:14] benjwadams commented on #72
Created a job to handle this.  I will push up to one of the catalog repos momentarily and then close this out.

[2019-12-04 17:15] mwengren commented on #72
@benjwadams Was looking at Catalog/Registry this morning and noticed the source metadata 'stations' WAF disappeared sometime since Monday: https://data.ioos.us/stations/waf/.  Can you look at the nginx config again and restore it?

Also, I'm going to pass on the https://data.ioos.us/waf URL to the NOAA Catalog/OneStop team to harvest.  Even if we're not ready to close this issue out, since it's th

[2019-12-04 17:34] #48 closed

[2019-12-04 17:50] mwengren commented on #40
I think the long term plan to include RA models in the Catalog will be to go through the EDS THREDDS server (when available), which is intended to include all we know of.

RPS will attribute this properly so there are references back to the RA source datasets in the THREDDS/ISO attribution (for continuity purposes and to direct users that want to get data from the source there), but if the RAs the

[2019-12-04 17:59] mwengren opened #73 "Register RA Models from EDS TDS Server"
Register all RA models hosted on the EDS TDS instance in IOOS Catalog.

Note: this necessitates RPS creating some type of attribution allowing a reference back to the source RA TDS or other server hosting the data.  This is in order to allow users a way to access the source data if they want.

Related to ioos/catalog#40.  This should be an easier pathway to increase the model coverage in the Catal

[2019-12-04 19:52] rsignell-usgs commented on #40
This issue makes me sad.  It would have been (and still would be) super useful, and achievable, but I just got distracted/pulled on to other things.  Having stuff on the EDS THREDDS is not really the same.   I'd rather keep this open.

[2019-12-10 16:53] mwengren opened #74 "GCMD keyword syntax issue on NANOOS datasets"
@emiliom this is mostly an FYI, but we recently added some new UI capabilities for GCMD keywords display in the IOOS Catalog.  I happened to be researching RA models in the Catalog and found the SELFE model record (https://data.ioos.us/dataset/cmop-virtual-columbia-river-selfe-f3374ea3).

However, the GCMD keywords in the [source metadata](https://registry.ioos.us/waf/NANOOS/d9fce8e42f73b586d5a4e3

[2019-12-10 17:08] mwengren commented on #40
I agree this would be nice to do.  We have limited bandwidth for what we can do on the Catalog project itself however, so it will take a group effort.

Instead of letting this linger, why don't we set a goal to add the known RA models that aren't already there by an upcoming Catalog milestone?  I'll set this for Release 1.6 due at the end of June.

We can get @ocefpaf's help in case there are any

[2019-12-10 20:19] benjwadams commented on #72
Stations WAF has been restored.

[2019-12-12 20:19] emiliom commented on #74
The IOOS Catalog UI for GCMD keywords looks great! Thanks for pointing out the metadata shortcoming in our two NANOOS models. Those should be easy fixes.

I'm pinging @cseaton and @crisien, who are responsible for the SELFE and OSU ROMS THREDDS servers, respectively. I'll follow up with them.

[2019-12-13 19:08] emiliom commented on #74
@mwengren Both THREDDS servers have now been corrected. The SELFE model was done yesterday, and per our ncISO > NANOOS WAF job, the WAF metadata XMLs were updated at 1am PT. The corresponding IOOS catalog record isn't updated yet, but I assume the change should fully propagate within 24 hours? The OSU ROMS model was done a couple of hours ago. (Thanks so much, @cseaton and @crisien!)

While we're

[2019-12-13 19:28] mwengren commented on #74
@emiliom we have an issue for that!

see: ioos/catalog-ckan/#209

I suspect there may be issues with other aspects of the site if they're removed (like filtering in the faceted filter in the side navbar), but @benjwadams may know more about that.

So, it's at least on the list of improvements to consider.  Hopefully fixed or closed with no action if it's not feasible by milestone due date at the e

[2019-12-14 14:22] mwengren commented on #74
@emiliom I had a look this morning, and it looks like it's not quite there yet.

The ROMS record doesn't look to be changed (not sure if that's an issue somewhere in the harvest pipeline or the source ISO XML didn't receive an updated <gmd:DateStamp> element - which is what is checked against to trigger reharvest).  It says 2019-12-13 so that's not likely the case.

For the SELFE model, it looks l

[2019-12-14 21:08] emiliom commented on #74
Thanks @mwengren. @cseaton and I did more digging on the SELFE model. The ISO XML [directly available from his THREDDS server](http://amb6400b.stccmop.org:8080/thredds/forecast_model_data.html?dataset=2d_ST) does show the GCMD keywords as individual gmd:keyword elements; [see the XML here](http://amb6400b.stccmop.org:8080/thredds/iso/model_data/forecast?catalog=http%3A%2F%2Famb6400b.stccmop.org%3A

[2019-12-14 21:16] emiliom commented on #74
*Update:* I just upgraded to the latest stand-alone ncISO (2.3.5) and reran it, but no cigar. GCMD keywords still get combined into a single gmd:keyword element. For what it's worth, ncISO 2.3.5 is nearly a year old, while @cseaton's THREDDS is pretty old, Version 4.3.23 - 20140826.1617.

[2019-12-16 15:31] mwengren commented on #17
This task will be handled as a process outside of Catalog:

- [ ] We will use an existing tool (EDS or Sensor Map) or some other means (NOAA GeoPlatform) to publish asset inventory quasi-static file that ideally is available via WMS and/or GeoJSON (for feature-based access

- [ ] These service(s) will be described in a metadata file and published via the IOOS Catalog harvesting pathway (WAF -> Har

[2019-12-16 15:38] mwengren commented on #68
I think we can close this one out at long last.  If there are still issues that come up, we'll deal with them as they come up.

[2019-12-16 15:38] #68 closed

[2019-12-16 15:56] mwengren commented on #74
@kevin-obrien @noaaroland Can we ask for your help with understanding why the ncISO releases Emilio is using here are producing the garbled GCMD keywords?

Here's an example that shows the merged keywords we refer to in this issue: https://data.ioos.us/dataset/cmop-virtual-columbia-river-selfe-f3374ea3 (or see more above).  Mostly wondering if there's an issue in the software or something in the s

[2019-12-16 17:26] emiliom commented on #74
Thanks. On a side note (relative to the ask about ncISO), I just realized that the OSU ROMS model catalog record @mwengren originally pointed out is not the THREDDS server @crisien manages. I'd forgotten that we have that model available via two servers, and two corresponding catalog records, THREDDS (Craig's) and Hyrax. The Hyrax one is managed by someone else for specific applications. I won't v

[2019-12-18 23:05] noaaroland commented on #74
As far as I can tell, this questions boils down to which piece of software is responsible splitting the comma separated string of GCMD keywords that are stuffed into the netCDF attribute.

[ERDDAP appears to do this](https://gliders.ioos.us/erddap/tabledap/UW157-20190916T0000.iso19115) and maybe the software building the [graphical display](https://data.ioos.us/dataset/cmop-virtual-columbia-river-

[2019-12-19 08:10] emiliom commented on #74
Your sample output from the modified XSL looks like it's doing the job of splitting the GCMD keywords. I didn't check for anything else, though. Thanks!

[2019-12-19 15:42] noaaroland commented on #74
https://github.com/NOAA-PMEL/uafnciso/releases/tag/2.3.6

[2019-12-20 01:19] emiliom commented on #74
Wow, thank you!! That was fast. I've downloaded 2.3.6 and changed my nciso script to use that version the next time it runs, overnight. I'll report back.

[2019-12-31 13:59] mwengren commented on #74
@emiliom Reviewing open Catalog issues - I still see some GCMD keyword hierarchy issues here: https://data.ioos.us/dataset/cmop-virtual-columbia-river-selfe-f3374ea3.

The source [record](http://data.nanoos.org/metadata/ioos/thredds/thredds_dodsC_model_data_forecast.xml) from the NANOOS WAF looks like the keywords themselves may not be formed correctly:

[code]

There should be `>` characters betw

[2019-12-31 15:47] noaaroland commented on #74
This http://amb6400b.stccmop.org:8080/thredds/dodsC/model_data/forecast.html seems to have disappeared for the moment so I can't check, but I believe that the files uses `&gt;` in netCDF file keywords attribute. At least in the example I have from when I made the change the keywords in the netCDF source all have the entity `&gt;` in between instead of a `>` character so they come out in the ISO XM

[2020-01-06 19:22] kbailey-noaa commented on #40
CARICOOS source: http://dm1.caricoos.org/thredds/catalog.html

[2020-01-07 15:56] benjwadams commented on #40
@mwengren:  This extension looks like it'd probably do the trick: https://github.com/ckan/ckanext-showcase

[2020-01-07 18:25] emiliom commented on #74
Thanks @mwengren and @noaaroland! The IOOS Catalog was down for several days a bit over a week ago, so that set me back as far as testing is concerned.

So, to keep the workflow sequence in order:
- This is the XML produced by the SELFE THREDDS dataset (which is working now): http://amb6400b.stccmop.org:8080/thredds/iso/model_data/forecast?catalog=http%3A%2F%2Famb6400b.stccmop.org%3A8080%2Fthredds

[2020-01-27 16:47] benjwadams commented on #72
There is a script running now to load the CSW contents from the database into a WAF.  The PyCSW admin command tried to do this all at once and caused the server to be overloaded by the size of the requests.   I have added a script which compares the md5sum of possibly existing metadata XML files in the WAF against the md5sum of XML contents of each record in the database.  This is running successf

[2020-01-30 21:36] benjwadams commented on #72
Implemented by https://github.com/ioos/catalog-docker-base/commit/d3660cedb53b78158c3e9ee0be1a488b23a632a6 and added to cron job, closing issue.

[2020-01-30 21:36] #72 closed

[2020-01-31 20:09] mwengren commented on #74
@emiliom If you're able to revisit this issue again, I wanted to point out that we recently resolved the Registry -> Catalog harvesting issue (ioos/catalog-harvest-registry#134), so if you make changes to the TDS/ncISO configuration generating those XML records and issue a reharvest, you should be able to see more or less instantaneous updates on the Catalog side (let us know if you don't!).

cc @

[2020-02-04 17:33] emiliom commented on #74
Thanks, @mwengren. That'll be helpful in getting to the bottom of this issue. I'll try to get back to it next week.

[2020-02-07 20:09] mwengren opened #75 "GCOOS WAF & Harvesting"
@fgayanilo We're having some harvesting problems with GCOOS' WAF(s).

I think the primary issue is with this one: http://gcoos5.geos.tamu.edu:6060/erddap/metadata/iso19115/xml/, which now says it has ~ 6000 records in the Harvest Registry.

Second, I can't connect to this one from my location, which means the harvesting scripts likely can't either: http://gcoos4.tamu.edu:8080/erddap/metadata/iso19

[2020-02-07 20:22] fgayanilo commented on #75
security breach on gcoos5 and we had to re-initialize the server and rebuild. We have a complete backup of the data and we should be back very soon (working on it as I write this). Sorry for the inconvenience.

[2020-02-10 19:33] leilabbb commented on #75
The ERDDAP server for GCOOS is still down, we are working on getting it back up and running.

[2020-02-11 18:06] mwengren opened #76 "Contribute CKAN Code back to upstream projects following 1.5 Release"
Not sure how far down this road we've gone with some of the capabilities and UI controls we've enabled for our own Catalog, but in order to close the loop and contribute back to the CKAN community, let's spend some time to engage CKAN developers and see if we can get some PRs accepted (or at least submitted) to contribute back these enhancements to the core.

Maybe each needs to be separated into

[2020-03-04 03:01] mwengren opened #77 "Restore https://data.ioos.us/stations/waf"
At some point in recent work, we lost the https://data.ioos.us/stations/waf/ directories again.  This affects several harvest jobs going into the Registry (NDBC HF Radar, NDBC SOS, CO-OPS SOS, Stevens).

@benjwadams Can you take a look & restore?

[2020-03-09 15:53] mwengren commented on #77
Update: this was restored manually during our 3/9 meeting.  Monitor availability of this directory for the next few weeks pre-1.5 release (~ end of March).

[2020-03-09 16:04] mwengren commented on #75
@fgayanilo @leilabbb We're still seeing ~6000 records in the IOOS Harvest Registry for this GCOOS WAF.

Is there an issue with the code that's generating these files?  I think this is going to present a problem for the IOOS Harvest Registry (https://registry.ioos.us/) to read all of these files.  I can see that there's a harvest job running at present that isn't able to complete.

Can you re-inves

[2020-03-09 21:22] fgayanilo commented on #75
@leilabbb is still working on getting our primary ERDDAP server for oceanographic and atmospheric data up and running. It should have about 5K of data in it. The ISO contains 475 records and gcoos4 ERDDAP (for biological records) has 304.

[2020-03-10 16:08] mwengren commented on #75
Ok, please keep us updated and keep in mind whether this WAF URL registered in the Harvest Registry is going to be the right approach to use:

http://gcoos5.geos.tamu.edu:6060/erddap/metadata/iso19115/xml/

I can't even get a directory listing from it when I try to browse there, so it's unlikely the Registry will be able to harvest those records.  You may need to use a secondary, more powerful web

[2020-03-18 19:23] fgayanilo commented on #75
@mwengren the gcoos5 alternate server (http://erddap.gcoos.org:8080/erddap) is up and ready to serve but it looks like the registry.ioos.us is returning 504.

[2020-03-18 19:37] mwengren commented on #75
Ok, pinging @benjwadams on the Registry status.

[2020-03-19 21:27] benjwadams commented on #75
Server was having issues, had to restart.  It looks like we're now harvesting from the contents of the ERDDAP server.  Closing.

[2020-03-20 15:58] mwengren commented on #75
I want to keep this open for monitoring purposes.  We're at 26,000 datasets in the Catalog now and counting.  It looks like the sheer number of datasets in this ERDDAP is going to stretch our infrastructure a bit for Catalog.  @fgayanilo what will be the total count of datasets you plan to serve in this ERDDAP instance?  We're well above the average RA already.

I didn't look through them all of c

[2020-03-20 18:59] fgayanilo commented on #75
That number is big and wrong @mwengren. The files should only be 7K++. We were waiting until the registry returns so we can update. Just checked and it seems to be working again. I changed the URL to the correct ERDDAP instance and initiated reharvest (see above, erddap.gcoos.org/erddap. Our old ERDDAP returned to service but it includes all other junks that should not be there.  We are still in t

[2020-03-23 14:26] mwengren commented on #75
Ok, we may have to do a manual clear of that GCOOS WAF.  Catalog harvesting seems to be 'stuck' at the moment.  @fgayanilo and @benjwadams can you work directly on harvesting the correct GCOOS WAF and clearing hung harvesting jobs/manually clearing the GCOOS harvest if necessary.

[2020-03-23 14:29] mwengren commented on #75
Data from the current GCOOS WAF CKAN harvest (currently running) below.  CKAN still shows ~13,000 datasets, so it may not be clearing out all the former records properly.

https://data.ioos.us/harvest/gcoos-waf

Id | c6ca030e-e120-41c3-abfa-3fe84c1a8537
-- | --
Created | March 23, 2020, 2:01 AM (UTC-04:00)
Started| March 23, 2020, 2:01 AM (UTC-04:00)
Finished |
Status | Running

[2020-03-23 14:36] mwengren commented on #77
Let's close this one out, appears to be up again.

[2020-03-23 14:36] #77 closed, assigned to nobody

[2020-03-23 14:42] fgayanilo commented on #75
@benjwadams let me know what I can do from my end.

[2020-03-25 15:26] benjwadams commented on #75
@fgayanilo This appears to have begun harvesting again.  I'm not entirely sure what occurred, but it looks like the metadata is getting to the catalog now.

[2020-03-25 15:29] fgayanilo commented on #75
@benjwadams that's great!

[2020-03-25 15:35] benjwadams commented on #75
Going to close this out since the harvest appears to be working again.

[2020-03-25 15:35] #75 closed, assigned to nobody

[2020-04-06 15:02] mwengren commented on #76
Related: ioos/catalog-ckan#207.   Repackaging and cleaning up the ckanext* repos that have been forked under IOOS org into existing ckanext-ioos-theme can be part of the overall repackaging work here.

[2020-05-19 10:55] rsignell-usgs commented on #64
@benjwadams, this seems broken again.  I just tried the same search and the links have gone missing:

![2020-05-19_6-54-34](https://user-images.githubusercontent.com/1872600/82318350-b2637880-999d-11ea-9b06-c25038bcb744.png)

Full notebook is here: https://gist.github.com/rsignell-usgs/3f2f8f9b2f6718e34df3e7095ff6c27b

cc @ocefpaf, @emiliom

[2020-05-19 11:10] rsignell-usgs opened #78 "Most of the apiso:ServiceTypes are missing on csw query"
I'm not sure whether this is a catalog service or a client issue, but this owslib CSW query:
[code]
that used to return:
[code]
now returns just:
[code]

cc @ocefpaf, @benjwadams

[2020-05-19 11:56] mwengren commented on #78
I would have guessed this might be due to the CS-W service not replicating all the CKAN records properly, which happens sometimes, but the CS-W record count (20705):

https://data.ioos.us/csw?request=GetRecords&service=CSW&version=3.0.0&typenames=gmd:MD_Metadata&OutputSchema=http://www.isotc211.org/2005/gmd

looks to be ballpark comparable to what's in the Catalog (20723):

https://data.ioos.us/ap

[2020-05-19 15:15] rsignell-usgs commented on #78
@mwengren I agree something seems broken between CKAN and pycsw, because  as you say, the services types are there on CKAN, just not on the pycsw side anymore.   I think it's beyond just an issue of replication, because the services just seem missing from all datasets on the pycsw side.

See Cell [11] of [this notebook](https://gist.github.com/rsignell-usgs/413199053d71978586501aa5405bc5c6) for ex

[2020-05-19 15:51] rsignell-usgs commented on #78
So @benjwadams , both of these issues are caused by the [pycsw python 2 comma issue](https://github.com/geopython/pycsw/issues/572)?

[2020-05-20 21:27] benjwadams commented on #78
I'm not sure yet.  The PyCSW server process runs in its own container.  I'm using an image with a code base has the fix for PyCSW applied, but this problem is occurring again.   I'm looking for the root cause of the issue.

[2020-05-20 21:28] benjwadams commented on #78
I'm not sure yet.  The PyCSW server process runs in its own container.  I'm using an image with a code base has the fix for PyCSW applied.   I'm looking for the root cause of the issue.

[2020-06-19 15:25] emiliom commented on #74
Following up on this issue.

For reference / follow-ups: IOOS Catalog dataset urls are not persistent in the long term (the catalog doesn't persist them). The urls referenced previously in this issue are no longer valid. The new urls are:

- SELFE: https://data.ioos.us/dataset/cmop-virtual-columbia-river-selfe-f3389dc9
- OSU ROMS: https://data.ioos.us/dataset/regional-ocean-modeling-system-roms-or

[2020-09-28 14:09] mwengren opened #79 "Fix sync process for IOOS Catalog WAF (https://data.ioos.us/waf)."
IOOS Catalog currently has ~ 21000 datasets.

NOAA/Data.gov harvest reports that read from the Catalog WAF (https://data.ioos.us) report that it contains around 31,000 datasets, when it should contain no more than the ~ 21,000 in the Catalog itself.  Let's see what's going on.

Some related links from NOAA:

* Processing complete. You can view the results at: https://data.noaa.gov/waf/NOAA/ioos//i

[2020-09-28 15:06] mwengren commented on #79
Also, in the NOAA WAF spreadsheet, we have the most records by roughly 15K (more than the largest NESDIS WAF by far), so we should try to reduce this closer to the real amount ASAP.

[2020-10-15 12:53] rsignell-usgs commented on #78
@benjwadams , I just ran this again:
[code]
and I get:
[code]
So still no OPeNDAP or other services.

Back in May when I first reported this we got these two:
[code]
Does that give any additional clues about the problem?

[2020-10-21 13:32] rsignell-usgs commented on #78
@benjwadams back on May 20 you said "I'm looking for the root cause of the issue."
Any updates?

[2020-10-30 15:52] benjwadams commented on #78
@rsignell-usgs , sorry for the delay.  Earlier I seeing if it was a CKAN issue, didn't get very far with that approach as a resolution.

I revisited this again, and upgrading some of the plugins, especially ckanext-spatial, seems to have fixed the issue.  Earlier versions of ckanext-spatial used PyCSW client commands from the 1.x series, but the code was updated to PyCSW 2 code instead.  We were a

[2020-12-07 16:35] benjwadams commented on #78
Closing issue as CSW results are now populating.

[2020-12-07 16:35] #78 closed, assigned to benjwadams

[2021-01-05 16:55] mwengren commented on #46
This issue won't be fixed in the IOOS Catalog.  IOOS Catalog is mostly focused on datasets and there hasn't been significant demand for registering RA portals or products in the catalog.

Closing.

[2021-01-05 17:22] mwengren commented on #74
@emiliom This may not be in your purview any longer, but I'm trying to clean up dormant issues for Catalog.

Tracking this down a bit, I believe the records for these datasets originated from this WAF, which is now empty (or filled with zero length files to be specific):

http://data.nanoos.org/metadata/ioos/thredds/

As a result, the Catalog Registry harvests are failing, and one of these two dat

[2021-01-05 17:45] mwengren commented on #73
@kbailey-noaa Did we decide on whether/how to include metadata from the EDS THREDDS server for RA model output in IOOS Catalog?

I'm trying to clean up lingering issues for our Jan 29 Catalog 1.6 milestone, and this is one of them.  It also might allow us to close out #40 at some point because there isn't any traction moving that along.

[2021-01-05 18:59] mwengren commented on #79
Record counts as of 1/5/21:

**IOOS Data Catalog** (https://data.ioos.us/dataset): 13,870

**IOOS WAF** (https://data.ioos.us/waf): 20,912

**NCEI/OneStop IOOS WAF** (https://data.noaa.gov/waf/NOAA/ioos//iso/xml/): 17,675

**NCEI/OneStop IOOS WAF Report** (https://data.noaa.gov/waf/NOAA/ioos//iso/): 13,385

It's not clear why the record count decreases between the IOOS WAF & NCEI WAF by ~3000 reco

[2021-01-05 21:15] mwengren commented on #49
@benjwadams If we came up with an approved list of RA names (and variations/abbreviations on those names) that we could publish somewhere, and we had specific metadata fields defined to match against in code, could we add some UI or ingest code to call those out, both in the dataset list view (https://data.ioos.us/dataset) and somehow on the dataset detail page (e.g. https://data.ioos.us/dataset/p

[2021-01-07 19:04] emiliom commented on #74
I can work with @cseaton and @crisien to help resolve this once and for all. But only after our [current nciso fatal issue](https://github.com/NOAA-PMEL/uafnciso/issues/16) is resolved.

[2021-02-02 16:48] mwengren commented on #74
This issue was resolved by upgrading NANOOS' ncISO execution environment to Java JDK 8.

[2021-02-02 16:48] #74 closed

[2021-02-08 15:49] mwengren commented on #79
Counts as of 2/8/21:

IOOS Data Catalog (https://data.ioos.us/dataset): 13,607

IOOS WAF (https://data.ioos.us/waf): 20,912

NCEI/OneStop IOOS WAF (https://data.noaa.gov/waf/NOAA/ioos//iso/xml/): 17,675

It's unclear how frequently the NCEI/OneStop WAF is synced with the IOOS WAF, or whether this is automated or not.

We still need to resolve why 20,912 doesn't match 13,607 as well.

[2021-02-08 16:51] mwengren commented on #79
@benjwadams Goal here is to have the IOOS Data Catalog count match IOOS WAF count - WAF should reflect whatever is present in IOOS CKAN Catalog.

We can look into changing the frequency of the sync process to weekly if it helps with resource constraints.  Upstream NOAA/NCEI harvest doesn't happen more frequently than monthly if even that frequent, so we have some leeway.

From 2/8/21 Catalog meeti

[2021-02-10 16:36] mwengren commented on #64
I noticed this issue again today by accident (can someone tell me why GitHub Projects doesn't automatically add new issues opened or reopened on a repo to a project dashboard??).

Anyway, I ran the notebook above and was able to find the Whitepoint station with four ERDDAP resource links.  So, I think all is well again, closing this issue.

Related to this, I discovered recently in ioos/catalog-ha

[2021-02-10 16:36] #64 closed

[2021-03-04 17:45] mwengren commented on #79
@benjwadams Fixed the pycsw/CKAN/IOOS Centralized WAF sync issue, so our WAF and pycsw service now reflects Catalog dataset count better and should stay in sync going forward.

I sent an email to NOAA POCs about the harvest process from IOOS Centralized WAF to the NCEI IOOS WAF week of 3/1.

They are going to look into why NCEI/OneStop processes haven't been routinely harvesting from the IOOS WAF.

[2021-05-03 15:13] mwengren opened #80 "Fix SCCOOS-managed HF Radar DAC WAF"
URL in Registry: https://sccoos.org/dr/metadata/ioos/hfradar/

SCCOOS/Vicky Rowley had been responsible for maintaining this WAF.

Currently the HTML table structure in the script-generated page has structural issues - missing <tr> tags.  As a result, the Registry is unable to parse the malformed HTML so the harvest fails.

This should be a quick fix for someone with the data manager role at SCCOO

[2021-08-18 02:07] kknee opened #81 "Fix MARACOOS Logo"
Showing as a broken link for me: https://data.ioos.us/organization/maracoos

[2021-08-18 02:25] mwengren commented on #81
Currently, Catalog points to this URL to grab the MARACOOS logo:

https://pbs.twimg.com/profile_images/1384705096/MARACOOS_round_transparent.png

Seems this must have changed since we set these Orgs up.  Here's a good replacement from the current homepage:

https://maracoos.org/images/logo.png

I can fix this right now....

[2021-08-18 02:25] #81 closed, assigned to benjwadams

[2021-10-04 14:32] mwengren commented on #17
**Update:** this will be handled by an IOOS-operated ERDDAP service (erddap.ioos.us ?) that will in turn have its metadata harvested by the IOOS Catalog.

Since we don't really need to do any Catalog work in order for this to happen - other than to register the IOOS ERDDAP in the Harvest Registry which is a standard process - closing this old issue out.

cc @MathewBiddle

[2021-10-04 14:32] #17 closed

[2021-10-04 15:14] MathewBiddle commented on #17
xref to the 2020 asset inventory as a geojson file: https://github.com/ioos/ioos-asset-inventory/blob/main/2020/processed_inventory.geojson

[2021-10-05 21:42] rtimmerm opened #82 "CDIP OPeNDAP links don't work"
Filtering for CDIP datasets, none of the OPeNDAP links (Explore -> Go to resource) work. The error shows a code 400 unrecognized request. I think adding '.html' to the URL is needed. Thanks!

[2021-10-06 15:29] mwengren commented on #82
Hi @rtimmerm thanks for the report!

This is actually the expected behavior for OPeNDAP links.  I reported the same issue some time ago but it turns out these are the correct links to feed into software like MATLAB or xarray to read data via OPeNDAP, whereas a link with an `.html` extension will fail.

We talked about modifying the CKAN UI code to append the .html extension from the dataset page p